<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">

    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" href="../../favicon.ico">


    <title>JP FEBRUARY 2024</title>


    <!-- Bootstrap core CSS -->

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="starter-template.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

  </head>



<body id="corpsJui">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
    <header>
		<h1 style="text-transform: uppercase;"><font color= "red" size="6"><strong>i am the righteousness of god in christ jesus</strong></font></h1>

	</header>
    <nav>
		<div class="table">
			<ul>
                <li class="menu-exp"><a href="/" target="_blank">HOME</a></li>
                <li class="menu-tc"><a href="/January">January</a></li>
                <li class="menu-tc"><a href="/February">February</a></li>
                <li class="menu-tc"><a href="/March">March</a></li>
                <li class="menu-tc"><a href="/April">April</a></li>
                <li class="menu-tc"><a href="/May">may</a></li>
                <li class="menu-tc"><a href="/June">June</a></li>
                <li class="menu-tc"><a href="/July">July</a></li>
                <li class="menu-tc"><a href="/August">August</a></li>
                <li class="menu-tc"><a href="/September">September</a></li>
                <li class="menu-tc"><a href="/October">October</a></li>
                <li class="menu-tc"><a href="/November">November</a></li>
                <li class="menu-tc"><a href="/December">December</a></li>
                </ul>
       </div>
    </nav>
    <h1 class="MAG2">
        <a href="#1">1</a>
        <a href="#1.1">1.1</a>
        <a href="#2">2</a>
        <a href="#2.1">2.1</a>
        <a href="#3">3</a>
        <a href="#3.1">3.1</a>
        <a href="#4">4</a>
        <a href="#4.1">4.1</a>
        <a href="#5">5</a>
        <a href="#5.1">5.1</a>
        <a href="#6">6</a>
        <a href="#6.1">6.1</a>
        <a href="#7">7</a>
        <a href="#7.1">7.1</a>
        <a href="#8">8</a>
        <a href="#8.1">8.1</a>
        <a href="#9">9</a>
        <a href="#9.1">9.1</a>
        <a href="#10">10</a>
        <a href="#10.1">10.1</a>
        <a href="#11">11</a>
        <a href="#11.1">11.1</a>
        <a href="#12">12</a>
        <a href="#12.1">12.1</a>
        <a href="#13">13</a>
        <a href="#13.1">13.1</a>
        <a href="#14">14</a>
        <a href="#14.1">14.1</a>
        <a href="#15">15</a>
        <a href="#15.1">15.1</a>
        <a href="#16">16</a>
        <a href="#16.1">16.1</a>
        <a href="#17">17</a>
        <a href="#17.1">17.1</a>
        <a href="#18">18</a>
        <a href="#18.1">18.1</a>
        <a href="#19">19</a>
        <a href="#19.1">19.1</a>
        <a href="#20">20</a>
        <a href="#20.1">20.1</a>
        <a href="#21">21</a>
        <a href="#21.1">21.1</a>
        <a href="#22">22</a>
        <a href="#22.1">22.1</a>
        <a href="#23">23</a>
        <a href="#23.1">23.1</a>
        <a href="#24">24</a>
        <a href="#24.1">24.1</a>
        <a href="#25">25</a>
        <a href="#25.1">25.1</a>
        <a href="#26">26</a>
        <a href="#26.1">26.1</a>
        <a href="#27">27</a>
        <a href="#27.1">27.1</a>
        <a href="#28">28</a>
        <a href="#28.1">28.1</a>
        <a href="#29">29</a>
        <a href="#29.1">29.1</a>
    </h1>      
    <h1><font color= "red" id = "1">Thursday, February 01st 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "1">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Who Can Be Against You?</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0102.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>What then shall we say to these things? If God is for us, who can be against us?</i><br>Romans 8:31</font></strong><br><br>
            My friend, today do you believe that God is for you and not against you? You see, the greatest blessing anyone can have is peace with God through Jesus Christ (Romans 5:1). To know beyond the shadow of any doubt that all your sins are forgiven is the greatest provision made for you on Calvary’s hill.<br><br>

Jesus took upon Himself all your sins at the cross. He absorbed all of God’s fiery indignation and judgment against all your sins, past, present, and future, so that you can be totally forgiven and have everlasting peace with God.<br><br>

So today, there is nothing between you and God. There is no more sin, no more shame, and no more condemnation! And if God is for you, who can be against you? Now, what will you do today knowing that all His favor, wisdom, heavenly provision, and blessings are backing you up, and that you cannot fail?
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "1.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Jesus Is Interested in Your Success</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0102_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>Let the LORD be magnified, who has pleasure in the prosperity of His servant.</i><br>Psalm 35:27</font></strong><br><br>
          Do you believe that Jesus is interested in your success?<br><br>

Take a moment to reflect on this.<br><br>

My friend, I want you to know that Jesus delights in blessing you. It is His good pleasure to see you blessed in every area of your life!<br><br>

Now, don’t put a limit on His blessings in your life. The blessings of the Lord are not (as some may erroneously believe) just seen in material things. Jesus is infinitely interested in your total well-being. He is interested in your family, career, fulfillment in life, marriage, ministry, and boy, does the list go on!<br><br>

When it comes to your desires, hopes, and dreams, there is no detail that is too minuscule, minute, or insignificant for Jesus. Trust me, if it matters to you, it matters to Him!<br><br>

Even if you go to Him in prayer to remove that small pimple on your nose, He is not going to look at you and reply mockingly, “Hey buddy, don’t you know that I’ve got a whole universe to run? Come to Me when you have a bigger prayer request.”<br><br>

No way! A thousand times no! Jesus will never ridicule or deride your concerns as petty. He is never dismissive or condescending. He is not like some of your so-called “friends,” who may delight in poking fun at your shortcomings. If it bothers you, it “bothers” Him.<br><br>

You are important to Jesus. Know with full assurance in your heart that Jesus knows you perfectly, and yet accepts and loves you perfectly. When you begin to understand that, you will realize that it is truly that unmerited favor, that favor from Jesus that you know you do not deserve, did not merit, and cannot earn for yourself, that will perfect every imperfection and weakness in your life.<br><br>

If you are facing challenges, such as lack in any area, addictions, fears, sicknesses, or broken relationships, Jesus’ unmerited favor will protect, deliver, prosper, bring restoration to, and provide for you. His unmerited favor will transform you into wholeness, and it is the goodness of God, not your striving and self-efforts, that will lead you to live victoriously for His glory.
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Friday, February 02nd 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "2">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">God Loves You Perfectly</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0202.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>But God demonstrates His own love toward us, in that while we were still sinners, Christ died for us. Much more then, having now been justified by His blood, we shall be saved from wrath through Him.</i><br>Romans 5:8–9</font></strong><br><br>
            God is a God of forgiveness. He knows you perfectly and still loves you perfectly. We are slaves to the idea that if someone sees our flaws, they won’t love us anymore. Well, while that may be true in human relationships, God is not like that.<br><br>

God sees all our imperfections, failings, and flaws on Jesus at the cross. Our sins and ugliness do not turn Him off. In fact, to Him they are occasions to demonstrate His grace and forgiveness through the blood of His Son, who has removed all our sins efficaciously at Calvary.<br><br>

So don’t be embarrassed about your flaws, mistakes, and imperfections. God knows your weaknesses better than you do, and He loves you just the same.<br><br>

His Word reminds us that Jesus is not someone “who cannot sympathize with our weaknesses.” Instead, Jesus was tempted in all points, yet He was without sin (Hebrews 4:15).<br><br>

He understands every temptation and every trial that you are going through. He is not disappointed with you, and He is not waiting for you to live up to a set of dos and don’ts before He forgives and loves you.<br><br>

The Bible says, “But God demonstrates His own love toward us, in that while we were still sinners, Christ died for us. Much more then, having now been justified by His blood, we shall be saved from wrath through Him” (Romans 5:8–9).<br><br>

Did you get that? When did God love you?<br><br>

That’s right, when you were still a sinner. Before you even knew Him, when you were still in sin, He already loved you. How much more today, when you have been cleansed by Jesus’ blood and made righteous!<br><br>

Having received Jesus’ righteousness, you are righteous forever. Even when you fall into sin, your sins don’t make you a sinner again.<br><br>

When you fall short today, you are still the righteousness of God. This is because your righteousness comes from Jesus.<br><br>

In the same way that a beautiful butterfly cannot morph back into a caterpillar, once you have been made righteous by the blood of Jesus, you cannot morph back into a sinner. Knowing your righteous identity in Him then gives you the power to overcome every sin, every addiction, and every bad habit!
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "2.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Your Refuge and Fortress</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0202_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>I will say of the LORD, “He is my refuge and my fortress; my God, in Him I will trust.”</i><br>Psalm 91:2</font></strong><br><br>
          What are you saying of the Lord today? If you are saying He gave you the trouble you are presently in or an illness to teach you humility, it’s time to change what you believe about Him. If you really believe that God is the author of your problems, would you really be running to Him for help?<br><br>

My friend, let’s be like the psalmist who declared, “I will say of the LORD, ‘He is my refuge and my fortress; my God, in Him I will trust’.”<br><br>

The Hebrew word for “refuge,” machaceh, refers to a shelter from storms and danger. This shelter is like the bunkers that many Jews have in their homes in Israel today to shelter them from small-scale attacks. In the figurative sense, when you say the Lord is your machaceh, you are also declaring that He is your place of hope.<br><br>

The Lord is also your fortress. In Hebrew, the word used for “fortress” is matsuwd. It refers to a castle or stronghold, a place of defense and protection against large-scale attacks. Isn’t that a beautiful picture? Whatever you might be going through right now, you can declare that the Lord is your refuge and your fortress—your protection in both small as well as big attacks.<br><br>

Perhaps you have not been saying that God is behind your troubles. Perhaps you are not saying anything about the Lord at all. Perhaps God seems far away and you feel cut off from Him.<br><br>

If that is you, can I encourage you to take a break today from whatever you have on your busy to-do list, and simply take time to dwell in His sweet presence? God is not distant; sometimes we are just too distracted to hear His voice or sense His loving presence.<br><br>

Take a moment and see yourself in His secret place. Abide under His shadow. Savor His favor. Receive His wisdom. And find rest for your troubled soul. The feeling of being distant from God is only a feeling, nothing more. He has promised in His Word that He will never leave you nor forsake you (Hebrews 13:5).<br><br>

Our Lord Jesus paid for you to have access to God’s constant presence. At the cross, He cried out, “My God, My God, why have You forsaken Me?” when God turned His back on Him (Matt. 27:46). He took our place and was rejected by God when He carried our sins so that today, we can take His place of being in the constant presence of the Father and take Him as our refuge and fortress.
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Saturday, February 03rd 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "3">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Overcoming Fear</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0302.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>And Jehoshaphat feared, and set himself to seek the LORD, and proclaimed a fast throughout all Judah. So Judah gathered together to ask help from the LORD; and from all the cities of Judah they came to seek the LORD.</i><br>2 Chronicles 20:3–4
</font></strong><br><br>
            Have you been in a situation where your circumstances appear to be completely hopeless? Where you felt immobilized and overwhelmed by the challenges surrounding you, with no way out or even a temporary respite in sight? Perhaps under the accumulated weight of it all coming against you at once, you feel as if your entire life is spiraling out of control and falling apart.<br><br>

That is exactly what happened to King Jehoshaphat and the small tribe of Judah when they were besieged on all fronts by three powerful and bloodthirsty armies rapidly advancing toward Jerusalem (2 Chronicles 20). With their enemies mercilessly bent on annihilating them and all the inhabitants of Jerusalem, they were facing a forlorn and hopeless situation, and it looked as though they were bound for a tragic end.<br><br>

When Jehoshaphat was informed that a great multitude was coming against him, his first reaction was fear! I don’t know about you, but this gives me hope!<br><br>

I’m so glad that the Word of God gives us an authentic portrait of who Jehoshaphat was. He wasn’t a valiant warrior king who was always full of faith and endowed with a disproportionate dose of fiery courage, always ready to take down his enemies. No, he was a regular guy. He did what you and I would have done—he panicked.<br><br>

But what set Jehoshaphat apart was that even when he was fearful, the very first thing he did was to “set himself to seek the LORD” (2 Chronicles 20:3). That is something you and I need to learn to do as well whenever we are fearful.<br><br>

Instead of spiraling deeper into the abyss of self-defeat, know that when you are feeling overwhelmed by your circumstances, that is the time you need to set yourself to seek the Lord. It’s certainly not the time to run away from God or get bitter, angry, frustrated, and disappointed with Him.<br><br>

Hey, God is not the author of your troubles. He is the author and finisher of your faith, victory, and success.<br><br>

Jehoshaphat shows us that it’s quite all right to experience bouts of fear from time to time. God doesn’t condemn you when you are afraid. But when you receive a negative medical report or some bad news about your family or business, set yourself to seek the Lord.<br><br>

Jesus is your answer! His perfect love for you will cast out all fear.
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "3.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Slay Your Dragons</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0302_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>And in Lystra a certain man without strength in his feet was sitting, a cripple from his mother’s womb, who had never walked. This man heard Paul speaking. Paul, observing him intently and seeing that he had faith to be healed, said with a loud voice, “Stand up straight on your feet!” And he leaped and walked.</i><br>Acts 14:8–10</font></strong><br><br>
          Beloved, if you want to have faith for your breakthrough, make sure you are hearing and believing right about God through the word of Christ. By the way, in Romans 10:17, it is the word of Christ, not the word of God, as written in some Bible translations.<br><br>

The Greek word used here is Christos for Christ. What’s the difference? The word of Christ refers to the word of the new covenant, the word of His grace.<br><br>

In the book of Acts, the apostle Paul says, “So now, brethren, I commend you to God and to the word of His grace, which is able to build you up and give you an inheritance among all those who are sanctified” (Acts 20:32).<br><br>

What is able to build you up and give you an inheritance among the saints? It is the word of His grace or the word of Christ. The Bible exhorts us to “let the word of Christ [Christos] dwell in you richly in all wisdom” (Colossians 3:16).<br><br>

So if you’re feeling discouraged, I encourage you to keep hearing messages full of the grace and finished work of our Lord Jesus as was proclaimed by the apostle Paul. This was what the crippled man in today’s scripture did.<br><br>

Whatever your circumstances, keep hearing about how your sins have all been forgiven through Christ and how you are today the righteousness of God in Christ. Whatever the prognosis you’ve heard, keep hearing about how much God loves you and wants to be a loving Father to you, to watch over you, provide for you, and deliver you from all your fears and afflictions.<br><br>

My friend, when you give priority to this daily, you will have the word of Christ dwelling richly in you. And it is this word of His grace that will impart faith and hope to you.<br><br>

When you know God’s love for you, it will cause you to run to Him instead of hiding from Him. His love upon you and in you will make you strong. It will cause you to overcome every temptation and fear, slay your giants, and live life with greater boldness and victory!
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Sunday, February 04th 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "4">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Your Fears and Anxieties Dissipate in God’s Presence</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0402.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>The mountains melt like wax at the presence of the LORD.</i><br>Psalm 97:5</font></strong><br><br>
            No matter where you are, the Lord is with you. Even in the midst of your fears, while you are alone in your room, He is there with you.<br><br>

The moment you begin to be aware of His presence and cultivate His presence, all your fears, anxieties, and worries will melt like butter on a hot day, or as the psalmist David puts it, “The mountains melt like wax at the presence of the LORD.”<br><br>

You cannot psych yourself out of fear nor can you psych yourself out of worry. You can’t just tell yourself, “Come on, stop worrying. There is nothing to worry about.” It just doesn’t work.<br><br>

The debt will still be staring you in your face and your problems will still be as insurmountable as ever no matter how hard you try to psych yourself up. That is what the world is trying to do, but it does not work. It takes the presence of the Lord to keep you free from worry.<br><br>

Jesus is not asking you to psych yourself up and live in a state of denial. No way! He is saying to you, “In the midst of your affliction, I am your shield. I am your defender. I am your fortress. I am your refuge. I am your supply. I am your healing. I am your provider. I am your peace. I am your joy. I am your wisdom. I am your strength. I am the glory and the lifter of your head" (Psalm 3:3)!<br><br>

He is not asking you to pretend that the facts are not there. He wants you to realize that HE IS THERE WITH YOU!<br><br>

When you know that He is with you and for you, and you put your problems in His mighty hands, you will begin to get a more accurate evaluation of just how “big” your problems are. When they were in your hands, the weight and burden of your problems may have crushed you. But when you involve Jesus, the once-monumental problems become microscopic against the largeness of His love and goodness toward you!<br><br>

Today, as you consider all that you need to do and the expectations placed on you, see Jesus there with you. He is your supply, wisdom, peace, and strength.
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "4.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">God Loves You Perfectly</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0402_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>But God demonstrates His own love toward us, in that while we were still sinners, Christ died for us. Much more then, having now been justified by His blood, we shall be saved from wrath through Him.</i><br>Romans 5:8–9</font></strong><br><br>
          God is a God of forgiveness. He knows you perfectly and still loves you perfectly. We are slaves to the idea that if someone sees our flaws, they won’t love us anymore. Well, while that may be true in human relationships, God is not like that.<br><br>

God sees all our imperfections, failings, and flaws on Jesus at the cross. Our sins and ugliness do not turn Him off. In fact, to Him they are occasions to demonstrate His grace and forgiveness through the blood of His Son, who has removed all our sins efficaciously at Calvary.<br><br>

So don’t be embarrassed about your flaws, mistakes, and imperfections. God knows your weaknesses better than you do, and He loves you just the same. His Word reminds us that Jesus is not someone “who cannot sympathize with our weaknesses.” Instead, Jesus was tempted in all points, yet He was without sin (Hebrews 4:15).<br><br>

He understands every temptation and every trial that you are going through. He is not disappointed with you, and He is not waiting for you to live up to a set of dos and don’ts before He forgives and loves you. The Bible says, “But God demonstrates His own love toward us, in that while we were still sinners, Christ died for us. Much more then, having now been justified by His blood, we shall be saved from wrath through Him” (Romans 5:8–9).<br><br>

Did you get that? When did God love you?<br><br>

That’s right, when you were still a sinner. Before you even knew Him, when you were still in sin, He already loved you. How much more today, when you have been cleansed by Jesus’ blood and made righteous! Having received Jesus’ righteousness, you are righteous forever. Even when you fall into sin, your sins don’t make you a sinner again.<br><br>

When you fall short today, you are still the righteousness of God. This is because your righteousness comes from Jesus. In the same way that a beautiful butterfly cannot morph back into a caterpillar, once you have been made righteous by the blood of Jesus, you cannot morph back into a sinner. Knowing your righteous identity in Him then gives you the power to overcome every sin, every addiction, and every bad habit!
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Monday, February 05th 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "5">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">How Esther Obtained Favor</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0502.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>Now when the turn came for Esther the daughter of Abihail the uncle of Mordecai, who had taken her as his daughter, to go in to the king, she requested nothing but what Hegai the king’s eunuch, the custodian of the women, advised. And Esther obtained favor in the sight of all who saw her.</i><br>Esther 2:15</font></strong><br><br>
            When you know that you are greatly blessed, highly favored, and deeply loved, you don’t have to depend on your self-efforts. Look at the story of Esther, for example.<br><br>

When King Ahasuerus was looking for a new queen, the most beautiful women in the land were all brought into the palace. All the women were given the opportunity to adorn themselves with whatever they desired from the women’s quarters before they were brought for an audience with the king.<br><br>

But when it was Esther’s turn, she “requested nothing but what Hegai the king’s eunuch, the custodian of the women, advised.” And look at the results: “Esther obtained favor in the sight of all who saw her,” and the king “loved Esther more than all the other women, and she obtained grace and favor in his sight more than all the virgins; so he set the royal crown upon her head and made her queen” (Esther 2:17).<br><br>

While the other women grabbed the best garments, perfumes, and accessories to beautify themselves, Esther did not rely on her own abilities but submitted herself to Hegai, the official who had been appointed by the king to oversee the women. There was so much wisdom and humility in her decision.<br><br>

Can you see the beauty of Esther? She did not trust in her own efforts. While the women tried to outdo one another by relying on their own efforts, Esther wisely submitted to the one person who would know the king’s preferences best, and the results speak for themselves.<br><br>

This incident also demonstrates to us that Esther depended entirely upon the Lord’s unmerited favor. (When you depend entirely upon the Lord’s unmerited favor, you are trusting Him and in a position of rest.)<br><br>

Esther did not have to struggle. When she rested in the Lord and humbled herself, the Lord promoted her and exalted her above all the other beautiful women.<br><br>

God resists the proud and gives unmerited favor to the humble (1 Peter 5:5). When you humble yourself and cease from your efforts to promote yourself, and depend on Jesus alone, the Lord Himself will be your promotion and increase. Like Esther, you will stand out in a crowd and obtain grace and favor with God and man.<br><br>

Do you know why the story of Esther is so important? Read the details in the book of Esther. Because Esther was promoted to become the queen, she was in a favored position to protect all the Jewish people in the kingdom from being killed.<br><br>

When the Lord promotes you, He gives you the influence to be a blessing to the people around you. There are no coincidences, only God-incidents. The Lord will bless you to be a blessing!
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "5.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">More with You Than Against You</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0502_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>You are of God, little children, and have overcome them, because He who is in you is greater than he who is in the world.</i><br>1 John 4:4</font></strong><br><br>
          When you or a loved one faces a frightening medical condition, questions for which you have no answers can often overwhelm your mind.<br><br>

What are we going to do? How long do I have? Who will look after my kids? How am I going to afford the treatment? Will I ever be the same? Why me?<br><br>

What can you do when your thoughts are completely out of control and you can only imagine the worst is coming?<br><br>

The Bible records the following account in 2 Kings 6 for our encouragement. Israel’s enemies were so desperate to capture the prophet Elisha that they sent a great army with horses and chariots by night and surrounded the city where he was staying. When Elisha’s servant woke up and saw this army, he despaired and cried out in fear, “What shall we do?”<br><br>

May I invite you to read for yourself what happened next?<br><br>

“So he [Elisha] answered, ‘Do not fear, for those who are with us are more than those who are with them.’ And Elisha prayed, and said, ‘LORD, I pray, open his eyes that he may see.’ Then the LORD opened the eyes of the young man, and he saw. And behold, the mountain was full of horses and chariots of fire all around Elisha.”<br>

—2 Kings 6:16–17<br><br>
It may feel like a formidable army of symptoms, negative reports, and maybe even financial debt has surrounded you. But, beloved, do not fear, for those who are with you are so much more than those who are with them.<br><br>

Right now, I pray that the Lord will open your eyes so you might see the legions of angels stationed around you. Take your eyes off your enemies. The ability of your enemies to hurt you is nothing compared to the greatness of your God and His power to save you.<br><br>

Take your eyes off the enemy so you may see the exceeding greatness of God’s power toward you. The same mighty power that raised our Lord Jesus from the grave, the same power that seated Him at God’s right hand in the heavenly places—far above all principalities, power, might, and dominion, and every name that is named, not only in this age but also in the age to come (Ephesians 1:19–21)—is working for you and for your loved one!<br><br>

Is human papillomavirus a name? Is bacterial meningitis a name? Is Parkinson’s disease a name? Then it has to yield to Jesus, who is seated at the Father’s right hand, far above the diseases. And because you are in Christ today, as He is, so are you in this world (1 John 4:17)! 
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Tuesday, February 06th 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "6">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Find Restoration in the Church</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0602.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>Those who are planted in the house of the LORD shall flourish in the courts of our God. They shall still bear fruit in old age; they shall be fresh and flourishing, to declare that the LORD is upright; He is my rock, and there is no unrighteousness in Him.</i><br>Psalm 92:13–15</font></strong><br><br>
            I received this praise report from a couple who attends our Grace Revolution Church in Dallas, Texas. It’s a beautiful example of how we walk in His protection and restoration as we are planted in the house of God.<br><br>

This couple shared with me how their marriage had gone through a very challenging period, and how the church and the pastoral leadership had helped them through that difficult time.<br><br>

<i>It took us some time to realize that we needed to focus more on Christ rather than on ourselves and on our problems. What ultimately saved our relationship was focusing vertically on our Lord Jesus and not horizontally on each other.<br><br>
We were declaring, “I am the righteousness of God in Christ Jesus,” which gave us a sense of how much God loves us and wants us blessed. Knowing that we are the righteousness of God through Christ is what healed our broken marriage.<br><br>
Being able to rest in all that Jesus has done, and being able to hear and meditate on the Word, has been the best thing for us. He truly is the vine and we are the branches.<br><br>
We now know that in every situation and circumstance, Christ is supplying our every need. He is the vine that will keep us supplied and where we need to be.<br><br>
    Knowing that “if it matters to me, it matters to God” was the last piece of the puzzle. We learned that there is no matter too small or too inconsequential to the Lord. Neither is there anything too big for Him to tackle for us.</i><br><br>
My friend, can you see how important it is to be planted in a local church? In this couple’s case, being in a church that preached the truth of the gospel and having the wise counsel of leaders who walked the journey with them saved their marriage.<br><br>

And can you sense their joy in knowing that the Lord Jesus is their vine who supplies their every need, and to whom nothing is too big or too small for them to bring? Read today’s verses from Psalm 92.<br><br>

Bearing fruit in old age speaks of preservation, protection, and long life. God wants you not only to have long life, but to have quality of life and still be strong, healthy, and fruitful in your old age. And the way to have all of that is to be planted in the house of the Lord.<br><br>

Beloved, if you are not regularly attending a local church, I want to encourage you to be planted in one. As you do so, may you, your career, your marriage, and your household flourish in every way!
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "6.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">The Secret of David</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0602_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>And He is before all things, and in Him all things consist. And He is the head of the body, the church, who is the beginning, the firstborn from the dead, that in all things He may have the preeminence.</i><br>Colossians 1:17–18</font></strong><br><br>
          Have you ever wondered why God called David “a man after My own heart” (Acts 13:22)? What made him so special, and how can we also be a man or woman after God’s heart?<br><br>

I believe David was special because he got hold of something that was of the greatest importance to God’s heart. He got hold of a divine thought and objective in God’s heart and made a vow to God in the wilderness to bring back the ark of the covenant to its rightful place among God’s people in Jerusalem (Psalm 132:1–5). Because David placed such importance on bringing back the ark, God considered him a man after His own heart.<br><br>

For more than twenty years, King Saul had left the ark in a hilly place called Kirjath Jearim (1 Samuel 7:2). So David made it his passion to bring the ark to Mount Zion in Jerusalem, for the Lord had chosen Zion (which represents God’s grace, as opposed to Mount Sinai, which represents His law) as His dwelling place. God Himself said of Zion, “This is My resting place forever; here I will dwell, for I have desired it” (Psalm 132:14).<br><br>

When you understand the typology of the ark of the covenant, you will see that bringing the ark of the covenant to Jerusalem is the same as bringing Jesus Christ back into a place of prominence and making Him and His finished work the center of all our teaching and preaching and lives.<br><br>

This was the secret to David’s blessings. He pursued the ark of the covenant and God called him a man after His own heart. Today, you too can be a man or woman after God’s own heart. You can pursue Jesus and bring Him back into the center of your life. Make Jesus the centerpiece of every aspect of your life.<br><br>

When Gillian from New Jersey and her husband started doing this, not only did it make their relationship stronger, but one blessing after another came into their lives. Round about the time they were introduced to the gospel of grace through my television broadcast, Gillian and her husband were struggling to conceive after being childless for all eleven years of their married life. They had tried all means, including in vitro fertilization, and Gillian was finally told that between her system being “so messed up” and her husband being diagnosed with a low sperm count, diabetes, and other diseases, they could never have a child on their own.<br><br>

“But we watched you every morning,” Gillian told me, “and as we listened, we got a better and better understanding of God’s grace. Your sermons always teach us to put Jesus in the center of our lives, and so we started doing that. We began to believe that Jesus has paid the full price for us to have whatever we need through Him. We would see Him and His finished work in our relationship with each other and in our challenges.”<br><br>

Well, as Gillian gave the Lord center place by giving heed to the hearing of His Word, she heard me speak in one of my sermons of an anointing to have children. She shared, “Instantly, I believed it and received it into my spirit. Pastor Prince, I am now six weeks pregnant. What medical science could not do, our beautiful Savior did! Praise the Lord! Not only that, but God has also been increasing my business to the extent that I need new equipment now, and I have no doubt He will supply it all. We know we are truly God’s beloved.”<br><br>

What an awesome testimony! My friend, like Gillian and her husband, make Jesus, His finished work, and His grace, the center of everything in your life. Make Him the center of your marriage, family, career, and finances, and allow the fullness of His blessings to flow in your life today!
        </td>
        </tr> 
    </table>
    <h1><font color= "red" id = "1">Wednesday, February 07th 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "7">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Grace Flows When You Stop Struggling</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0702.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>This left Jacob all alone in the camp, and a man came and wrestled with him until the dawn began to break. . . . he touched Jacob’s hip and wrenched it out of its socket . . . “Your name will no longer be Jacob,” the man told him. “From now on you will be called Israel . . . ” . . . Then he blessed Jacob there.</i><br>Genesis 32:24–29 </font></strong><br><br>
            Most people would have given up on Jacob, the scheming deceiver and manipulator. But not God.<br><br>

One night, while attempting to appease the brother he had stolen from, Jacob met the Lord. He grabbed hold of the Lord and for hours, tried to wrestle a blessing from Him.<br><br>

What did the Lord do? He touched Jacob’s hip socket and put it out of joint, so that Jacob wound up helpless before the Lord.<br><br>

The Lord changed Jacob that night. He showed Jacob how it was only when Jacob’s grabbing and wrestling finally stopped that His grace was able to flow. That night, God changed Jacob’s name from “deceiver” to “prince” (Israel), and added to him blessings that were beyond his own efforts.<br><br>

You see, we cannot try to wrestle blessings from God. It is when we give up on our scheming, deceiving, and manipulating to get ahead in life, and completely trust His grace alone that His provision flows unabated.
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "7.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Our Unshakable Foundation</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP0702_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>If Christ is not risen, your faith is futile; you are still in your sins! . . . But now Christ is risen from the dead, and has become the firstfruits of those who have fallen asleep. For since by man came death, by Man also came the resurrection of the dead. For as in Adam all die, even so in Christ all shall be made alive.</i><br>1 Corinthians 15:17, 20–22</font></strong><br><br>
          The apostle Paul proclaims Jesus Christ is risen from the dead in today’s scripture! And because He is risen, you are no longer in your sins. Jesus’ resurrection is the living proof that all your sins have been completely and totally forgiven.<br><br>

Our forgiveness is not contingent upon us and what we have or have not done, so no one can boast that they earned their forgiveness through their own efforts. “For by grace you have been saved through faith, and that not of yourselves; it is the gift of God, not of works, lest anyone should boast” (Ephesians 2:8–9).<br><br>

Through faith in Jesus’ finished work at the cross, we have received the gift of salvation. When something is a gift, it means that you cannot work for it, earn it, or merit it. A gift is lavished upon the recipient by the giver, and Jesus gave of His own life to ransom yours.<br><br>

But Pastor Prince, I don’t deserve forgiveness.<br><br>

You are absolutely right. We deserved punishment for all the sins we have committed and will commit in our lifetime. We deserved death, but Jesus took that death for us and gave us eternal life. He took what we deserved and gave us what we didn’t deserve. That is why we are saved by grace—His unmerited, unearned, and undeserved favor—through faith.<br><br>

Now, always remember this: How are you saved? By grace through faith. How have all your sins been forgiven? By grace through faith. How have you been made righteous? By grace through faith. This is your unshakable foundation, built upon the finished work of Jesus Christ.<br><br>

Don’t allow any teaching to diminish the cross of Jesus in your life and make salvation, forgiveness, and righteousness things you have to work at in order to maintain and keep. You received salvation, forgiveness, and righteousness by grace through faith in Jesus’ finished work, and they are secured by His obedience to the Father at the cross:<br><br>

“Therefore, as through one man’s offense judgment came to all men, resulting in condemnation, even so through one Man’s righteous act the free gift came to all men, resulting in justification of life. For as by one man’s disobedience many were made sinners, so also by one Man’s obedience many will be made righteous.”<br><br>

Romans 5:18–19
Righteousness is not about right doing. Righteousness is about right believing. You are made righteous in God’s eyes when you believe or put your faith in Christ and His sacrifice for you. It is through Jesus’ obedience that we have been made righteous and justified from all our sins. Justification is our Lord Jesus removing all the guilt and penalty of sin and proclaiming that we have been made righteous by His shed blood.<br><br>

Beloved, when you are buffeted by the voice of accusation and condemnation over your failures, believe and learn to declare that you are saved, forgiven, made righteous (justified) by grace through faith in Christ. You’ll see His favor, wisdom, power, and every benefit of His finished work released into your situation to turn everything around for His glory.
        </td>
        </tr> 
    </table>
     <h1><font color= "red" id = "1">Thursday, February 29th 2024</font></h1>
    <table class="emploi">
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "29">Meditate Devotional</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">He Gives His Angels Charge over You</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP2902.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>For He shall give His angels charge over you, to keep you in all your ways. In their hands they shall bear you up, lest you dash your foot against a stone.</i><br>Psalm 91:11–12</font></strong><br><br>
            What a wonderful promise we have in Psalm 91:11–12! In the same way the angels surrounded Elisha and his servant and protected them, they are surrounding us and protecting us today, because God has given them charge over us to protect us!<br><br>

When we choose to make Him our habitation, He charges His angels to watch over us and to surround us with His divine protection.<br><br>

Now, did you know that Psalm 91:11–12 was quoted by the devil when he tried to tempt our Lord Jesus? He brought our Lord to the pinnacle of the temple and said to Him, “If You are the Son of God, throw Yourself down. For it is written: ‘He shall give His angels charge over you,’ and, ‘In their hands they shall bear you up, lest you dash your foot against a stone.’” To this Jesus replied, “It is written again, ‘You shall not tempt the Lord your God’” (Matthew 4:5–7).<br><br>

The temptation of our Lord Jesus in the wilderness is the only instance in the Bible where the devil is recorded quoting Scripture. But the devil deliberately misquoted verse 11. The devil misquotes the Bible because he is the father of lies. Verse 11 actually reads: “For He shall give His angels charge over you, to keep you in all your ways.”<br><br>

I asked the Lord why the devil left out the words “to keep you in all your ways” and He directed me to Proverbs 3:6–7 , which says: “In all your ways acknowledge Him, and He shall direct your paths. Do not be wise in your own eyes; fear the LORD and depart from evil.”<br><br>

You see, the devil didn’t want to say the words “to keep you in all your ways” because that would be tantamount to reminding believers of Proverbs 3:6–7—to acknowledge God in all our ways. So he conveniently left out that whole portion.<br><br>

But praise the Lord, we know that this is what the Lord has promised: “For He shall give His angels charge over you, to keep you in all your ways”. Our part is to simply acknowledge Him in all our ways, and He shall direct our paths, protecting us along the way!
        </td>
        </tr>  
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red"  id = "29.1">Daily Grace Inspiration</font></strong></td></tr>
        <tr><td><strong><div style="text-transform: uppercase;">Jesus, our Perfect Hero</div></strong><br>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/jp/JP2902_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
        <tr>
            <td class="aceem"><strong><font color= "green"><i>His mouth is most sweet, yes, he is altogether lovely. This is my beloved, and this is my friend, O daughters of Jerusalem!</i><br>Song of Solomon 5:16</font></strong><br><br>
          Jesus is someone whom you can be completely real with. You can hang out with Him and be yourself, with no pretense and no play-acting. Jesus is ever-loving toward you and you can talk to Him about anything. He enjoys conversing with you about your dreams, aspirations and hopes. He wants to heal you of things in your past that you may be struggling with. He is interested in your present challenges. He wants to weep with you when you are down and rejoice with you in all your victories.<br><br>

Jesus is love and tenderness personified. Be careful not to confuse His tenderness with the effeminate and weak images that you have seen depicted in some traditional paintings of Him. He is tenderness and strength wrapped up in one. He is meekness and majesty, manhood and deity, velvet, and steel. You see, sometimes, when we attempt to be assertive and strong, we bulldoze over people’s feelings and end up hurting them with our words. When we attempt to be tender, we overdose on niceness and reduce ourselves to doormats to be taken advantage of by others.<br><br>

Let’s turn away from ourselves and look at Jesus. He could sternly force a pack of scheming Pharisees to back off in one instance, challenging them by saying, “He who is without sin among you, let him throw a stone at her first" (John 8:7). In the very next moment, this same Jesus could look straight into the eyes of a broken woman caught in adultery, and with compassion resonating deeply in His voice, ask her, “Woman, where are those accusers of yours? Has no one condemned you? Neither do I condemn you; go and sin no more" (John 8:10-11).<br><br>

This is our God!<br><br>

In one moment, a tired Jesus could be fast asleep in a wind-swept fisherman's boat, oblivious to the rough Galilean waters crashing against the hapless vessel. But in the very next moment, you see Him staring unflinchingly at the lashing waves, His well-toned carpenter's arms raised to the sky. With His single declaration of absolute authority over heaven and earth, the waves submitted and calmed instantaneously into a placid mirror of stillness (Mark 4:37-39).<br><br>

Jesus is 100 percent Man and at the same time 100 percent God. As Man, He understands and identifies with all that you have gone through, are going through and will ever go through in this life. But as a loving God, all His power, authority, and resources are on your side. Beloved, whatever you are facing today, let your heart rest easy in His perfect love for you.
        </td>
        </tr> 
    </table>
    <footer>
		<h1>Copyright 2023 moi Jean Guy Nicolas - Toute reproduction souhaitée <br> Thursday, January 04th 2024 at 09H13<br>Thursday, February 29th 2024 at 10H53</h1>
	</footer> 
          </div></div></div>
</body>
</html>