<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">

    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" href="../../favicon.ico">


    <title>DG FEBRUARY 2024</title>


    <!-- Bootstrap core CSS -->

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="starter-template.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

  </head>



<body id="corpsJui">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
    <header>
		<h1><font color= "red" size="6"><strong> I AM THE RIGHTEOUSNESS OF GOD IN CHRIST JESUS</strong></font></h1>

	</header>
	<nav>
		<div class="table">
			<ul>
        <li class="menu-exp"><a href="/" target="_blank">HOME</a></li>
        <li class="menu-daily"><a href="/JANUARY">JANUARY</a></li>
        <li class="menu-exp"><a href="/FEBRUARY">FEBRUARY</a></li>
        <li class="menu-exp"><a href="/MARCH">MARCH</a></li>
        <li class="menu-daily"><a href="/APRIL">APRIL</a></li>
        <li class="menu-exp"><a href="/MAY">MAY</a></li>
        <li class="menu-exp"><a href="/JUNE">JUNE</a></li>
        <li class="menu-daily"><a href="/JULY">JULY</a></li>
        <li class="menu-exp"><a href="/AUGUST">AUGUST</a></li>
        <li class="menu-exp"><a href="/SEPTEMBER">SEPTEMBER</a></li>
        <li class="menu-daily"><a href="/OCTOBER">OCTOBER</a></li>
        <li class="menu-exp"><a href="/NOVEMBER">NOVEMBER</a></li>
        <li class="menu-exp"><a href="/DECEMBER">DECEMBER</a></li>
        
    </ul>
		</div>
	</nav>
    <h1 class="MAG2">
        <a href="#1">1</a>
        <a href="#2">2</a>
        <a href="#3">3</a>
        <a href="#4">4</a>
        <a href="#5">5</a>
        <a href="#6">6</a>
        <a href="#7">7</a>
        <a href="#8">8</a>
        <a href="#9">9</a>
        <a href="#10">10</a>
        <a href="#11">11</a>
        <a href="#12">12</a>
        <a href="#13">13</a>
        <a href="#14">14</a>
        <a href="#15">15</a>
        <a href="#16">16</a>
        <a href="#17">17</a>
        <a href="#18">18</a>
        <a href="#19">19</a>
        <a href="#20">20</a>
        <a href="#21">21</a>
        <a href="#22">22</a>
        <a href="#23">23</a>
        <a href="#24">24</a>
        <a href="#25">25</a>
        <a href="#26">26</a>
        <a href="#27">27</a>
        <a href="#28">28</a>
        <a href="#29">29</a>
    </h1>
    <table class="emploi">
    <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "1">Thursday, February 01st 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/01_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Thursday of the Fourth Week in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 2:1-4, 10-12</strong></td></tr>
        <tr>
            <td class="aceem">When the time of David's death drew near,<br>
he gave these instructions to his son Solomon:<br>
"I am going the way of all flesh.<br>
Take courage and be a man.<br>
Keep the mandate of the LORD, your God, following his ways<br>
and observing his statutes, commands, ordinances, and decrees<br>
as they are written in the law of Moses,<br>
that you may succeed in whatever you do,<br>
wherever you turn, and the LORD may fulfill<br>
the promise he made on my behalf when he said,<br>
'If your sons so conduct themselves<br>
that they remain faithful to me with their whole heart<br>
and with their whole soul,<br>
you shall always have someone of your line<br>
on the throne of Israel.'"<br><br>

David rested with his ancestors and was buried in the City of David.<br>
The length of David's reign over Israel was forty years:<br>
he reigned seven years in Hebron<br>
and thirty-three years in Jerusalem.<br><br>

Solomon was seated on the throne of his father David,<br>
with his sovereignty firmly established.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>1 Chronicles 29:10, 11ab, 11d-12a, 12bcd</strong></td></tr>
        <tr>
            <td class="aceem">R. (12b) <strong>Lord, you are exalted over all.</strong><br>
"Blessed may you be, O LORD,<br>
God of Israel our father,<br>
from eternity to eternity."<br>
                R. <strong>Lord, you are exalted over all.</strong><br>
"Yours, O LORD, are grandeur and power,<br>
majesty, splendor, and glory."<br>
                R. <strong>Lord, you are exalted over all.</strong><br>
"LORD, you are exalted over all.<br>
Yours, O LORD, is the sovereignty;<br>
you are exalted as head over all.<br>
Riches and honor are from you."<br>
                R. <strong>Lord, you are exalted over all.</strong><br>
"In your hand are power and might;<br>
it is yours to give grandeur and strength to all."<br>
                R. <strong>Lord, you are exalted over all.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 6:7-13</strong></td></tr>
        <tr>
            <td class="aceem">Jesus summoned the Twelve and began to send them out two by two<br>
and gave them authority over unclean spirits.<br>
He instructed them to take nothing for the journey but a walking stick<br>
–no food, no sack, no money in their belts.<br>
They were, however, to wear sandals but not a second tunic.<br>
He said to them,<br>
"Wherever you enter a house, stay there until you leave from there.<br>
Whatever place does not welcome you or listen to you,<br>
leave there and shake the dust off your feet<br>
in testimony against them."<br>
So they went off and preached repentance.<br>
The Twelve drove out many demons,<br>
and they anointed with oil many who were sick and cured them.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "2">Friday, February 02nd 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/02_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Feast of the Presentation of the Lord</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>Mal 3:1-4</strong></td></tr>
        <tr>
            <td class="aceem">Thus says the Lord GOD:<br>
Lo, I am sending my messenger<br>
to prepare the way before me;<br>
And suddenly there will come to the temple<br>
the LORD whom you seek,<br>
And the messenger of the covenant whom you desire.<br>
Yes, he is coming, says the LORD of hosts.<br>
But who will endure the day of his coming?<br>
And who can stand when he appears?<br>
For he is like the refiner’s fire,<br>
or like the fuller’s lye.<br>
He will sit refining and purifying silver,<br>
and he will purify the sons of Levi,<br>
Refining them like gold or like silver<br>
that they may offer due sacrifice to the LORD.<br>
Then the sacrifice of Judah and Jerusalem<br>
will please the LORD,<br>
as in the days of old, as in years gone by.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 24:7, 8, 9, 10</strong></td></tr>
        <tr>
            <td class="aceem">R. (8) <strong>Who is this king of glory? It is the Lord!</strong><br>
Lift up, O gates, your lintels;<br>
reach up, you ancient portals,<br>
that the king of glory may come in!<br>
                R. <strong>Who is this king of glory? It is the Lord!</strong><br>
Who is this king of glory?<br>
The LORD, strong and mighty,<br>
the LORD, mighty in battle.<br>
                R. <strong>Who is this king of glory? It is the Lord!</strong><br>
Lift up, O gates, your lintels;<br>
reach up, you ancient portals,<br>
that the king of glory may come in!<br>
                R. <strong>Who is this king of glory? It is the Lord!</strong><br>
Who is this king of glory?<br>
The LORD of hosts; he is the king of glory.<br>
                R. <strong>Who is this king of glory? It is the Lord!</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Heb 2:14-18</strong></td></tr>
        <tr>
            <td class="aceem">Since the children share in blood and flesh,<br>
Jesus likewise shared in them,<br>
that through death he might destroy the one<br>
who has the power of death, that is, the Devil,<br>
and free those who through fear of death<br>
had been subject to slavery all their life.<br>
Surely he did not help angels<br>
but rather the descendants of Abraham;<br>
therefore, he had to become like his brothers and sisters<br>
in every way,<br>
that he might be a merciful and faithful high priest before God<br>
to expiate the sins of the people.<br>
Because he himself was tested through what he suffered,<br>
he is able to help those who are being tested.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Lk 2:22-40</strong></td></tr>
        <tr>
            <td class="aceem">When the days were completed for their purification<br>
according to the law of Moses,<br>
Mary and Joseph took Jesus up to Jerusalem<br>
to present him to the Lord,<br>
just as it is written in the law of the Lord,<br>
<i>Every male that opens the womb shall be consecrated to the Lord,<br>
and to offer the sacrifice of<br>
    a pair of turtledoves or two young pigeons,</i><br>
in accordance with the dictate in the law of the Lord.<br><br>

Now there was a man in Jerusalem whose name was Simeon.<br>
This man was righteous and devout,<br>
awaiting the consolation of Israel,<br>
and the Holy Spirit was upon him.<br>
It had been revealed to him by the Holy Spirit<br>
that he should not see death<br>
before he had seen the Christ of the Lord.<br>
He came in the Spirit into the temple;<br>
and when the parents brought in the child Jesus<br>
to perform the custom of the law in regard to him,<br>
he took him into his arms and blessed God, saying:<br><br>

“Now, Master, you may let your servant go<br>
in peace, according to your word,<br>
for my eyes have seen your salvation,<br>
which you prepared in the sight of all the peoples:<br>
a light for revelation to the Gentiles,<br>
and glory for your people Israel.”<br><br>

The child’s father and mother were amazed at what was said about him;<br>
and Simeon blessed them and said to Mary his mother,<br>
“Behold, this child is destined<br>
for the fall and rise of many in Israel,<br>
and to be a sign that will be contradicted<br>
—and you yourself a sword will pierce—<br>
so that the thoughts of many hearts may be revealed.”<br>
There was also a prophetess, Anna,<br>
the daughter of Phanuel, of the tribe of Asher.<br>
She was advanced in years,<br>
having lived seven years with her husband after her marriage,<br>
and then as a widow until she was eighty-four.<br>
She never left the temple,<br>
but worshiped night and day with fasting and prayer.<br>
And coming forward at that very time,<br>
she gave thanks to God and spoke about the child<br>
to all who were awaiting the redemption of Jerusalem.<br><br>

When they had fulfilled all the prescriptions<br>
of the law of the Lord,<br>
they returned to Galilee, to their own town of Nazareth.<br>
The child grew and became strong, filled with wisdom;<br>
and the favor of God was upon him.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "3">Saturday, February 03rd 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/03_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Saturday of the Fourth Week in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 3:4-13</strong></td></tr>
        <tr>
            <td class="aceem">Solomon went to Gibeon to sacrifice there,<br>
because that was the most renowned high place.<br>
Upon its altar Solomon offered a thousand burnt offerings.<br>
In Gibeon the LORD appeared to Solomon in a dream at night.<br>
God said, “Ask something of me and I will give it to you.”<br>
Solomon answered:<br>
“You have shown great favor to your servant, my father David,<br>
because he behaved faithfully toward you,<br>
with justice and an upright heart;<br>
and you have continued this great favor toward him, even today,<br>
seating a son of his on his throne.<br>
O LORD, my God, you have made me, your servant,<br>
king to succeed my father David;<br>
but I am a mere youth, not knowing at all how to act.<br>
I serve you in the midst of the people whom you have chosen,<br>
a people so vast that it cannot be numbered or counted.<br>
Give your servant, therefore, an understanding heart<br>
to judge your people and to distinguish right from wrong.<br>
For who is able to govern this vast people of yours?”<br><br>

The LORD was pleased that Solomon made this request.<br>
So God said to him: “Because you have asked for this–<br>
not for a long life for yourself,<br>
nor for riches, nor for the life of your enemies,<br>
but for understanding so that you may know what is right–<br>
I do as you requested.<br>
I give you a heart so wise and understanding<br>
that there has never been anyone like you up to now,<br>
and after you there will come no one to equal you.<br>
In addition, I give you what you have not asked for,<br>
such riches and glory that among kings there is not your like.”</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 119:9, 10, 11, 12, 13, 14</strong></td></tr>
        <tr>
            <td class="aceem">R. (12b) <strong>Lord, teach me your statutes.</strong><br>
How shall a young man be faultless in his way?<br>
By keeping to your words.<br>
                R. <strong>Lord, teach me your statutes.</strong><br>
With all my heart I seek you;<br>
let me not stray from your commands.<br>
                R. <strong>Lord, teach me your statutes.</strong><br>
Within my heart I treasure your promise,<br>
that I may not sin against you.<br>
                R. <strong>Lord, teach me your statutes.</strong><br>
Blessed are you, O LORD;<br>
teach me your statutes.<br>
                R. <strong>Lord, teach me your statutes.</strong><br>
With my lips I declare<br>
all the ordinances of your mouth.<br>
                R. <strong>Lord, teach me your statutes.</strong><br>
In the way of your decrees I rejoice,<br>
as much as in all riches.<br>
                R. <strong>Lord, teach me your statutes.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 6:30-34</strong></td></tr>
        <tr>
            <td class="aceem">The Apostles gathered together with Jesus<br>
and reported all they had done and taught.<br>
He said to them,<br>
“Come away by yourselves to a deserted place and rest a while.”<br>
People were coming and going in great numbers,<br>
and they had no opportunity even to eat.<br>
So they went off in the boat by themselves to a deserted place.<br>
People saw them leaving and many came to know about it.<br>
They hastened there on foot from all the towns<br>
and arrived at the place before them.<br><br>

When Jesus disembarked and saw the vast crowd,<br>
his heart was moved with pity for them,<br>
for they were like sheep without a shepherd;<br>
and he began to teach them many things.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "4">Sunday, February 04th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/04_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Fifth Sunday in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>Jb 7:1-4, 6-7</strong></td></tr>
        <tr>
            <td class="aceem">Job spoke, saying:<br>
Is not man's life on earth a drudgery?<br>
Are not his days those of hirelings?<br>
He is a slave who longs for the shade,<br>
a hireling who waits for his wages.<br>
So I have been assigned months of misery,<br>
and troubled nights have been allotted to me.<br>
If in bed I say, "When shall I arise?"<br>
then the night drags on;<br>
I am filled with restlessness until the dawn.<br>
My days are swifter than a weaver's shuttle;<br>
they come to an end without hope.<br>
Remember that my life is like the wind;<br>
I shall not see happiness again.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Ps 147:1-2, 3-4, 5-6</strong></td></tr>
        <tr>
            <td class="aceem">R. (cf. 3a) <strong>Praise the Lord, who heals the brokenhearted.</strong><br>
Praise the LORD, for he is good;<br>
sing praise to our God, for he is gracious;<br>
it is fitting to praise him.<br>
The LORD rebuilds Jerusalem;<br>
the dispersed of Israel he gathers.<br>
                R. <strong>Praise the Lord, who heals the brokenhearted.</strong><br>
He heals the brokenhearted<br>
and binds up their wounds.<br>
He tells the number of the stars;<br>
he calls each by name.<br>
                R. <strong>Praise the Lord, who heals the brokenhearted.</strong><br>
Great is our Lord and mighty in power;<br>
to his wisdom there is no limit.<br>
The LORD sustains the lowly;<br>
the wicked he casts to the ground.<br>
                R. <strong>Praise the Lord, who heals the brokenhearted.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>1 Cor 9:16-19, 22-23</strong></td></tr>
        <tr>
            <td class="aceem">Brothers and sisters:<br>
If I preach the gospel, this is no reason for me to boast,<br>
for an obligation has been imposed on me,<br>
and woe to me if I do not preach it!<br>
If I do so willingly, I have a recompense,<br>
but if unwillingly, then I have been entrusted with a stewardship.<br>
What then is my recompense?<br>
That, when I preach,<br>
I offer the gospel free of charge<br>
so as not to make full use of my right in the gospel.<br><br>

Although I am free in regard to all,<br>
I have made myself a slave to all<br>
so as to win over as many as possible.<br>
To the weak I became weak, to win over the weak.<br>
I have become all things to all, to save at least some.<br>
All this I do for the sake of the gospel,<br>
so that I too may have a share in it.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 1:29-39</strong></td></tr>
        <tr>
            <td class="aceem">On leaving the synagogue<br>
Jesus entered the house of Simon and Andrew with James and John.<br>
Simon's mother-in-law lay sick with a fever.<br>
They immediately told him about her.<br>
He approached, grasped her hand, and helped her up.<br>
Then the fever left her and she waited on them.<br><br>

When it was evening, after sunset,<br>
they brought to him all who were ill or possessed by demons.<br>
The whole town was gathered at the door.<br>
He cured many who were sick with various diseases,<br>
and he drove out many demons,<br>
not permitting them to speak because they knew him.<br><br>

Rising very early before dawn, he left<br>
and went off to a deserted place, where he prayed.<br>
Simon and those who were with him pursued him<br>
and on finding him said, "Everyone is looking for you."<br>
He told them, "Let us go on to the nearby villages<br>
that I may preach there also.<br>
For this purpose have I come."<br>
So he went into their synagogues,<br>
preaching and driving out demons throughout the whole of Galilee.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "5">Monday, February 05th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/05_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Memorial of Saint Agatha, Virgin and Martyr</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 8:1-7, 9-13</strong></td></tr>
        <tr>
            <td class="aceem">The elders of Israel and all the leaders of the tribes,<br>
the princes in the ancestral houses of the children of Israel,<br>
came to King Solomon in Jerusalem,<br>
to bring up the ark of the LORD's covenant<br>
from the City of David, which is Zion.<br>
All the people of Israel assembled before King Solomon<br>
during the festival in the month of Ethanim (the seventh month).<br>
When all the elders of Israel had arrived,<br>
the priests took up the ark;<br>
they carried the ark of the LORD<br>
and the meeting tent with all the sacred vessels<br>
that were in the tent.<br>
(The priests and Levites carried them.)<br><br>

King Solomon and the entire community of Israel<br>
present for the occasion<br>
sacrificed before the ark sheep and oxen<br>
too many to number or count.<br>
The priests brought the ark of the covenant of the LORD<br>
to its place beneath the wings of the cherubim in the sanctuary,<br>
the holy of holies of the temple.<br>
The cherubim had their wings spread out over the place of the ark,<br>
sheltering the ark and its poles from above.<br>
There was nothing in the ark but the two stone tablets<br>
which Moses had put there at Horeb,<br>
when the LORD made a covenant with the children of Israel<br>
at their departure from the land of Egypt.<br><br>

When the priests left the holy place,<br>
the cloud filled the temple of the LORD<br>
so that the priests could no longer minister because of the cloud,<br>
since the LORD's glory had filled the temple of the LORD.<br>
Then Solomon said, "The LORD intends to dwell in the dark cloud;<br>
I have truly built you a princely house,<br>
a dwelling where you may abide forever."</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 132:6-7, 8-10</strong></td></tr>
        <tr>
            <td class="aceem">R. (8a) <strong>Lord, go up to the place of your rest!</strong><br>
Behold, we heard of it in Ephrathah;<br>
we found it in the fields of Jaar.<br>
Let us enter into his dwelling,<br>
let us worship at his footstool.<br>
                R. <strong>Lord, go up to the place of your rest!</strong><br>
Advance, O LORD, to your resting place,<br>
you and the ark of your majesty.<br>
May your priests be clothed with justice;<br>
let your faithful ones shout merrily for joy.<br>
For the sake of David your servant,<br>
reject not the plea of your anointed.<br>
                R. <strong>Lord, go up to the place of your rest!</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>MK 6:53-56</strong></td></tr>
        <tr>
            <td class="aceem">After making the crossing to the other side of the sea,<br>
Jesus and his disciples came to land at Gennesaret<br>
and tied up there.<br>
As they were leaving the boat, people immediately recognized him.<br>
They scurried about the surrounding country<br>
and began to bring in the sick on mats<br>
to wherever they heard he was.<br>
Whatever villages or towns or countryside he entered,<br>
they laid the sick in the marketplaces<br>
and begged him that they might touch only the tassel on his cloak;<br>
and as many as touched it were healed.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "6">Tuesday, February 06th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/06_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Memorial of Saint Paul Miki and Companions, Martyrs</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 8:22-23, 27-30</strong></td></tr>
        <tr>
            <td class="aceem">Solomon stood before the altar of the LORD<br>
in the presence of the whole community of Israel,<br>
and stretching forth his hands toward heaven,<br>
he said, “LORD, God of Israel,<br>
there is no God like you in heaven above or on earth below;<br>
you keep your covenant of mercy with your servants<br>
who are faithful to you with their whole heart.<br><br>

“Can it indeed be that God dwells on earth?<br>
If the heavens and the highest heavens cannot contain you,<br>
how much less this temple which I have built!<br>
Look kindly on the prayer and petition of your servant, O LORD, my God,<br>
and listen to the cry of supplication which I, your servant,<br>
utter before you this day.<br>
May your eyes watch night and day over this temple,<br>
the place where you have decreed you shall be honored;<br>
may you heed the prayer which I, your servant, offer in this place.<br>
Listen to the petitions of your servant and of your people Israel<br>
which they offer in this place.<br>
Listen from your heavenly dwelling and grant pardon.”</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 84:3, 4, 5 and 10, 11</strong></td></tr>
        <tr>
            <td class="aceem">R. (2) <strong>How lovely is your dwelling place, Lord, mighty God!</strong><br>
My soul yearns and pines<br>
for the courts of the LORD.<br>
My heart and my flesh<br>
cry out for the living God.<br>
                R. <strong>How lovely is your dwelling place, Lord, mighty God!</strong><br>
Even the sparrow finds a home,<br>
and the swallow a nest<br>
in which she puts her young—<br>
Your altars, O LORD of hosts,<br>
my king and my God!<br>
                R. <strong>How lovely is your dwelling place, Lord, mighty God!</strong><br>
Blessed they who dwell in your house!<br>
continually they praise you.<br>
O God, behold our shield,<br>
and look upon the face of your anointed.<br>
                R. <strong>How lovely is your dwelling place, Lord, mighty God!</strong><br>
I had rather one day in your courts<br>
than a thousand elsewhere;<br>
I had rather lie at the threshold of the house of my God<br>
than dwell in the tents of the wicked.<br>
                R. <strong>How lovely is your dwelling place, Lord, mighty God!</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 7:1-13</strong></td></tr>
        <tr>
            <td class="aceem">When the Pharisees with some scribes who had come from Jerusalem<br>
gathered around Jesus,<br>
they observed that some of his disciples ate their meals<br>
with unclean, that is, unwashed, hands.<br>
(For the Pharisees and, in fact, all Jews,<br>
do not eat without carefully washing their hands,<br>
keeping the tradition of the elders.<br>
And on coming from the marketplace<br>
they do not eat without purifying themselves.<br>
And there are many other things that they have traditionally observed,<br>
the purification of cups and jugs and kettles and beds.)<br>
So the Pharisees and scribes questioned him,<br>
"Why do your disciples not follow the tradition of the elders<br>
but instead eat a meal with unclean hands?"<br>
He responded,<br>
"Well did Isaiah prophesy about you hypocrites,<br>
as it is written:<br><br>

This people honors me with their lips,<br>
but their hearts are far from me;<br>
In vain do they worship me,<br>
teaching as doctrines human precepts.<br><br>

You disregard God's commandment but cling to human tradition."<br>
He went on to say,<br>
"How well you have set aside the commandment of God<br>
in order to uphold your tradition!<br>
For Moses said,<br>
Honor your father and your mother,<br>
and Whoever curses father or mother shall die.<br>
Yet you say,<br>
'If someone says to father or mother,<br>
"Any support you might have had from me is qorban"'<br>
(meaning, dedicated to God),<br>
you allow him to do nothing more for his father or mother.<br>
You nullify the word of God<br>
in favor of your tradition that you have handed on.<br>
And you do many such things."</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "7">Wednesday, February 07th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/07_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Wednesday of the Fifth Week in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 10:1-10</strong></td></tr>
        <tr>
            <td class="aceem">The queen of Sheba, having heard of Solomon's fame,<br>
came to test him with subtle questions.<br>
She arrived in Jerusalem with a very numerous retinue,<br>
and with camels bearing spices,<br>
a large amount of gold, and precious stones.<br>
She came to Solomon and questioned him on every subject<br>
in which she was interested.<br>
King Solomon explained everything she asked about,<br>
and there remained nothing hidden from him<br>
that he could not explain to her.<br><br>

When the queen of Sheba witnessed Solomon's great wisdom,<br>
the palace he had built, the food at his table,<br>
the seating of his ministers, the attendance and garb of his waiters,<br>
his banquet service,<br>
and the burnt offerings he offered in the temple of the LORD,<br>
she was breathless.<br>
"The report I heard in my country<br>
about your deeds and your wisdom is true," she told the king.<br>
"Though I did not believe the report until I came and saw with my own eyes,<br>
I have discovered that they were not telling me the half.<br>
Your wisdom and prosperity surpass the report I heard.<br>
Blessed are your men, blessed these servants of yours,<br>
who stand before you always and listen to your wisdom.<br>
Blessed be the LORD, your God,<br>
whom it has pleased to place you on the throne of Israel.<br>
In his enduring love for Israel,<br>
the LORD has made you king to carry out judgment and justice."<br>
Then she gave the king one hundred and twenty gold talents,<br>
a very large quantity of spices, and precious stones.<br>
Never again did anyone bring such an abundance of spices<br>
as the queen of Sheba gave to King Solomon.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 37:5-6, 30-31, 39-40</strong></td></tr>
        <tr>
            <td class="aceem">R. (30a) <strong>The mouth of the just murmurs wisdom.</strong><br>
Commit to the LORD your way;<br>
trust in him, and he will act.<br>
He will make justice dawn for you like the light;<br>
bright as the noonday shall be your vindication.<br>
                R. <strong>The mouth of the just murmurs wisdom.</strong><br>
The mouth of the just man tells of wisdom<br>
and his tongue utters what is right.<br>
The law of his God is in his heart,<br>
and his steps do not falter.<br>
                R. <strong>The mouth of the just murmurs wisdom.</strong><br>
The salvation of the just is from the LORD;<br>
he is their refuge in time of distress.<br>
And the LORD helps them and delivers them;<br>
he delivers them from the wicked and saves them,<br>
because they take refuge in him.<br>
                R. <strong>The mouth of the just murmurs wisdom.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 7:14-23</strong></td></tr>
        <tr>
            <td class="aceem">Jesus summoned the crowd again and said to them,<br>
“Hear me, all of you, and understand.<br>
Nothing that enters one from outside can defile that person;<br>
but the things that come out from within are what defile.”<br><br>

When he got home away from the crowd<br>
his disciples questioned him about the parable.<br>
He said to them,<br>
“Are even you likewise without understanding?<br>
Do you not realize that everything<br>
that goes into a person from outside cannot defile,<br>
since it enters not the heart but the stomach<br>
and passes out into the latrine?”<br>
(Thus he declared all foods clean.)<br>
“But what comes out of the man, that is what defiles him.<br>
From within the man, from his heart,<br>
come evil thoughts, unchastity, theft, murder,<br>
adultery, greed, malice, deceit,<br>
licentiousness, envy, blasphemy, arrogance, folly.<br>
All these evils come from within and they defile.”</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "8">Thursday, February 08th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/08_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Thursday of the Fifth Week in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 Kgs 11:4-13</strong></td></tr>
        <tr>
            <td class="aceem">When Solomon was old his wives had turned his heart to strange gods,<br>
and his heart was not entirely with the LORD, his God,<br>
as the heart of his father David had been.<br>
By adoring Astarte, the goddess of the Sidonians,<br>
and Milcom, the idol of the Ammonites,<br>
Solomon did evil in the sight of the LORD;<br>
he did not follow him unreservedly as his father David had done.<br>
Solomon then built a high place to Chemosh, the idol of Moab,<br>
and to Molech, the idol of the Ammonites,<br>
on the hill opposite Jerusalem.<br>
He did the same for all his foreign wives<br>
who burned incense and sacrificed to their gods.<br>
The LORD, therefore, became angry with Solomon,<br>
because his heart was turned away from the LORD, the God of Israel,<br>
who had appeared to him twice<br>
(for though the LORD had forbidden him<br>
this very act of following strange gods,<br>
Solomon had not obeyed him).<br><br>

So the LORD said to Solomon: "Since this is what you want,<br>
and you have not kept my covenant and my statutes<br>
which I enjoined on you,<br>
I will deprive you of the kingdom and give it to your servant.<br>
I will not do this during your lifetime, however,<br>
for the sake of your father David;<br>
it is your son whom I will deprive.<br>
Nor will I take away the whole kingdom.<br>
I will leave your son one tribe for the sake of my servant David<br>
and of Jerusalem, which I have chosen."</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 106:3-4, 35-36, 37 and 40</strong></td></tr>
        <tr>
            <td class="aceem">R. (4a) <strong>Remember us, O Lord, as you favor your people.</strong><br>
Blessed are they who observe what is right,<br>
who do always what is just.<br>
Remember us, O LORD, as you favor your people;<br>
visit us with your saving help.<br>
                R. <strong>Remember us, O Lord, as you favor your people.</strong><br>
But they mingled with the nations<br>
and learned their works.<br>
They served their idols,<br>
which became a snare for them.<br>
                R. <strong>Remember us, O Lord, as you favor your people.</strong><br>
They sacrificed their sons<br>
and their daughters to demons.<br>
And the LORD grew angry with his people,<br>
and abhorred his inheritance.<br>
                R. <strong>Remember us, O Lord, as you favor your people.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 7:24-30</strong></td></tr>
        <tr>
            <td class="aceem">Jesus went to the district of Tyre.<br>
He entered a house and wanted no one to know about it,<br>
but he could not escape notice.<br>
Soon a woman whose daughter had an unclean spirit heard about him.<br>
She came and fell at his feet.<br>
The woman was a Greek, a Syrophoenician by birth,<br>
and she begged him to drive the demon out of her daughter.<br>
He said to her, “Let the children be fed first.<br>
For it is not right to take the food of the children<br>
and throw it to the dogs.”<br>
She replied and said to him,<br>
“Lord, even the dogs under the table eat the children’s scraps.”<br>
Then he said to her, “For saying this, you may go.<br>
The demon has gone out of your daughter.”<br>
When the woman went home, she found the child lying in bed<br>
and the demon gone.</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "9">Friday, February 09th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/09_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Friday of the Fifth Week in Ordinary Time</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>1 kgs 11:29-32; 12:19</strong></td></tr>
        <tr>
            <td class="aceem">Jeroboam left Jerusalem,<br>
and the prophet Ahijah the Shilonite met him on the road.<br>
The two were alone in the area,<br>
and the prophet was wearing a new cloak.<br>
Ahijah took off his new cloak,<br>
tore it into twelve pieces, and said to Jeroboam:<br><br>

“Take ten pieces for yourself;<br>
the LORD, the God of Israel, says:<br>
‘I will tear away the kingdom from Solomon’s grasp<br>
and will give you ten of the tribes.<br>
One tribe shall remain to him for the sake of David my servant,<br>
and of Jerusalem,<br>
the city I have chosen out of all the tribes of Israel.’”<br><br>

Israel went into rebellion against David’s house to this day.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 81:10-11ab, 12-13, 14-15</strong></td></tr>
        <tr>
            <td class="aceem">R. (11a and 9a) <strong>I am the Lord, your God: hear my voice.</strong><br>
"There shall be no strange god among you<br>
nor shall you worship any alien god.<br>
I, the LORD, am your God<br>
who led you forth from the land of Egypt."<br>
                R. <strong>I am the Lord, your God: hear my voice.</strong><br>
"My people heard not my voice,<br>
and Israel obeyed me not;<br>
So I gave them up to the hardness of their hearts;<br>
they walked according to their own counsels."<br>
                R. <strong>I am the Lord, your God: hear my voice.</strong><br>
"If only my people would hear me,<br>
and Israel walk in my ways,<br>
Quickly would I humble their enemies;<br>
against their foes I would turn my hand."<br>
                R. <strong>I am the Lord, your God: hear my voice.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mk 7:31-37</strong></td></tr>
        <tr>
            <td class="aceem">Jesus left the district of Tyre<br>
and went by way of Sidon to the Sea of Galilee,<br>
into the district of the Decapolis.<br>
And people brought to him a deaf man who had a speech impediment<br>
and begged him to lay his hand on him.<br>
He took him off by himself away from the crowd.<br>
He put his finger into the man's ears<br>
and, spitting, touched his tongue;<br>
then he looked up to heaven and groaned, and said to him,<br>
"Ephphatha!" (that is, "Be opened!")<br>
And immediately the man's ears were opened,<br>
his speech impediment was removed,<br>
and he spoke plainly.<br>
He ordered them not to tell anyone.<br>
But the more he ordered them not to,<br>
the more they proclaimed it.<br>
They were exceedingly astonished and they said,<br>
"He has done all things well.<br>
He makes the deaf hear and the mute speak."
</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "19">Monday, February 19th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/19_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Monday of the First Week of Lent</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>Lv 19:1-2, 11-18</strong></td></tr>
        <tr>
            <td class="aceem">The LORD said to Moses,<br>
“Speak to the whole assembly of the children of Israel and tell them:<br>
Be holy, for I, the LORD, your God, am holy.<br><br>

“You shall not steal.<br>
You shall not lie or speak falsely to one another.<br>
You shall not swear falsely by my name,<br>
thus profaning the name of your God.<br>
I am the LORD.<br><br>

“You shall not defraud or rob your neighbor.<br>
You shall not withhold overnight the wages of your day laborer.<br>
You shall not curse the deaf,<br>
or put a stumbling block in front of the blind,<br>
but you shall fear your God.<br>
I am the LORD.<br><br>

“You shall not act dishonestly in rendering judgment.<br>
Show neither partiality to the weak nor deference to the mighty,<br>
but judge your fellow men justly.<br>
You shall not go about spreading slander among your kin;<br>
nor shall you stand by idly when your neighbor’s life is at stake.<br>
I am the LORD.<br><br>

“You shall not bear hatred for your brother in your heart.<br>
Though you may have to reprove him,<br>
do not incur sin because of him.<br>
Take no revenge and cherish no grudge against your fellow countrymen.<br>
You shall love your neighbor as yourself.<br>
I am the LORD.”</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 19:8, 9, 10, 15</strong></td></tr>
        <tr>
            <td class="aceem">R.    (John 6:63b)  <strong>Your words, Lord, are Spirit and life.</strong><br>
The law of the LORD is perfect,<br>
refreshing the soul.<br>
The decree of the LORD is trustworthy,<br>
giving wisdom to the simple.<br>
                R.    <strong>Your words, Lord, are Spirit and life.</strong><br>
The precepts of the LORD are right,<br>
rejoicing the heart.<br>
The command of the LORD is clear,<br>
enlightening the eye.<br>
                R.    <strong>Your words, Lord, are Spirit and life.</strong><br>
The fear of the LORD is pure,<br>
enduring forever;<br>
The ordinances of the LORD are true,<br>
all of them just.<br>
                R.    <strong>Your words, Lord, are Spirit and life.</strong><br>
Let the words of my mouth and the thought of my heart<br>
find favor before you,<br>
O LORD, my rock and my redeemer.<br>
                R.    <strong>Your words, Lord, are Spirit and life.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mt 25:31-46</strong></td></tr>
        <tr>
            <td class="aceem">Jesus said to his disciples:<br>
“When the Son of Man comes in his glory,<br>
and all the angels with him,<br>
he will sit upon his glorious throne,<br>
and all the nations will be assembled before him.<br>
And he will separate them one from another,<br>
as a shepherd separates the sheep from the goats.<br>
He will place the sheep on his right and the goats on his left.<br>
Then the king will say to those on his right,<br>
‘Come, you who are blessed by my Father.<br>
Inherit the kingdom prepared for you from the foundation of the world.<br>
For I was hungry and you gave me food,<br>
I was thirsty and you gave me drink,<br>
a stranger and you welcomed me,<br>
naked and you clothed me,<br>
ill and you cared for me,<br>
in prison and you visited me.’<br>
Then the righteous will answer him and say,<br>
‘Lord, when did we see you hungry and feed you,<br>
or thirsty and give you drink?<br>
When did we see you a stranger and welcome you,<br>
or naked and clothe you?<br>
When did we see you ill or in prison, and visit you?’<br>
And the king will say to them in reply,<br>
‘Amen, I say to you, whatever you did<br>
for one of these least brothers of mine, you did for me.’<br>
Then he will say to those on his left,<br>
‘Depart from me, you accursed,<br>
into the eternal fire prepared for the Devil and his angels.<br>
For I was hungry and you gave me no food,<br>
I was thirsty and you gave me no drink,<br>
a stranger and you gave me no welcome,<br>
naked and you gave me no clothing,<br>
ill and in prison, and you did not care for me.’<br>
Then they will answer and say,<br>
‘Lord, when did we see you hungry or thirsty<br>
or a stranger or naked or ill or in prison,<br>
and not minister to your needs?’<br>
He will answer them, ‘Amen, I say to you,<br>
what you did not do for one of these least ones,<br>
you did not do for me.’<br>
And these will go off to eternal punishment,<br>
but the righteous to eternal life.”</td>
        </tr>
        <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "20">Tuesday, February 20th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/20_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Tuesday of the First Week of Lent</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>Is 55:10-11</strong></td></tr>
        <tr>
            <td class="aceem">Thus says the LORD:<br>
Just as from the heavens<br>
the rain and snow come down<br>
And do not return there<br>
till they have watered the earth,<br>
making it fertile and fruitful,<br>
Giving seed to the one who sows<br>
and bread to the one who eats,<br>
So shall my word be<br>
that goes forth from my mouth;<br>
It shall not return to me void,<br>
but shall do my will,<br>
achieving the end for which I sent it.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>PS 34:4-5, 6-7, 16-17, 18-19</strong></td></tr>
        <tr>
            <td class="aceem">R. (18b) <strong>From all their distress God rescues the just.</strong><br>
Glorify the LORD with me,<br>
let us together extol his name.<br>
I sought the LORD, and he answered me<br>
and delivered me from all my fears.<br>
                R. <strong>From all their distress God rescues the just.</strong><br>
Look to him that you may be radiant with joy,<br>
and your faces may not blush with shame.<br>
When the poor one called out, the LORD heard,<br>
and from all his distress he saved him.<br>
                R. <strong>From all their distress God rescues the just.</strong><br>
The LORD has eyes for the just,<br>
and ears for their cry.<br>
The LORD confronts the evildoers,<br>
to destroy remembrance of them from the earth.<br>
                R. <strong>From all their distress God rescues the just.</strong><br>
When the just cry out, the LORD hears them,<br>
and from all their distress he rescues them.<br>
The LORD is close to the brokenhearted;<br>
and those who are crushed in spirit he saves.<br>
                R. <strong>From all their distress God rescues the just.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Mt 6:7-15</strong></td></tr>
        <tr>
            <td class="aceem">Jesus said to his disciples:<br>
“In praying, do not babble like the pagans,<br>
who think that they will be heard because of their many words.<br>
Do not be like them.<br>
Your Father knows what you need before you ask him.<br><br>

“This is how you are to pray:<br><br>

Our Father who art in heaven,<br>
hallowed be thy name,<br>
thy Kingdom come,<br>
thy will be done,<br>
on earth as it is in heaven.<br>
Give us this day our daily bread;<br>
and forgive us our trespasses,<br>
as we forgive those who trespass against us;<br>
and lead us not into temptation,<br>
but deliver us from evil.<br>

“If you forgive men their transgressions,<br>
your heavenly Father will forgive you.<br>
But if you do not forgive men,<br>
neither will your Father forgive your transgressions.”</td>
        </tr>
    <tr><td colspan ="2" bgcolor = "green"><strong><font color= "red" id = "29">Thursday, February 29th 2024</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'audio/dg/29_02_24.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
        <tr><td BGCOLOR="#00FFFF"><strong>Thursday of the Second Week of Lent</strong></td></tr>
        <tr><td bgcolor="#FF1493"><strong>Jer 17:5-10</strong></td></tr>
        <tr>
            <td class="aceem">Thus says the LORD:<br>
Cursed is the man who trusts in human beings,<br>
who seeks his strength in flesh,<br>
whose heart turns away from the LORD.<br>
He is like a barren bush in the desert<br>
that enjoys no change of season,<br>
But stands in a lava waste,<br>
a salt and empty earth.<br>
Blessed is the man who trusts in the LORD,<br>
whose hope is the LORD.<br>
He is like a tree planted beside the waters<br>
that stretches out its roots to the stream:<br>
It fears not the heat when it comes,<br>
its leaves stay green;<br>
In the year of drought it shows no distress,<br>
but still bears fruit.<br>
More tortuous than all else is the human heart,<br>
beyond remedy; who can understand it?<br>
I, the LORD, alone probe the mind<br>
and test the heart,<br>
To reward everyone according to his ways,<br>
according to the merit of his deeds.</td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Ps 1:1-2, 3, 4 and 6</strong></td></tr>
        <tr>
            <td class="aceem">R. (40:5a) <strong>Blessed are they who hope in the Lord.</strong><br>
Blessed the man who follows not<br>
the counsel of the wicked<br>
Nor walks in the way of sinners,<br>
nor sits in the company of the insolent,<br>
But delights in the law of the LORD<br>
and meditates on his law day and night.<br>
                R. <strong>Blessed are they who hope in the Lord.</strong><br>
He is like a tree<br>
planted near running water,<br>
That yields its fruit in due season,<br>
and whose leaves never fade.<br>
Whatever he does, prospers.<br>
                R. <strong>Blessed are they who hope in the Lord.</strong><br>
Not so, the wicked, not so;<br>
they are like chaff which the wind drives away.<br>
For the LORD watches over the way of the just,<br>
but the way of the wicked vanishes.<br>
                R. <strong>Blessed are they who hope in the Lord.</strong></td>
        </tr>
        <tr><td bgcolor="#FF1493"><strong>Lk 16:19-31</strong></td></tr>
        <tr>
            <td class="aceem">Jesus said to the Pharisees:<br>
"There was a rich man who dressed in purple garments and fine linen<br>
and dined sumptuously each day.<br>
And lying at his door was a poor man named Lazarus, covered with sores,<br>
who would gladly have eaten his fill of the scraps<br>
that fell from the rich man's table.<br>
Dogs even used to come and lick his sores.<br>
When the poor man died,<br>
he was carried away by angels to the bosom of Abraham.<br>
The rich man also died and was buried,<br>
and from the netherworld, where he was in torment,<br>
he raised his eyes and saw Abraham far off<br>
and Lazarus at his side.<br>
And he cried out, 'Father Abraham, have pity on me.<br>
Send Lazarus to dip the tip of his finger in water and cool my tongue,<br>
for I am suffering torment in these flames.'<br>
Abraham replied, 'My child,<br>
remember that you received what was good during your lifetime<br>
while Lazarus likewise received what was bad;<br>
but now he is comforted here, whereas you are tormented.<br>
Moreover, between us and you a great chasm is established<br>
to prevent anyone from crossing<br>
who might wish to go from our side to yours<br>
or from your side to ours.'<br>
He said, 'Then I beg you, father, send him<br>
to my father's house,<br>
for I have five brothers, so that he may warn them,<br>
lest they too come to this place of torment.'<br>
But Abraham replied, 'They have Moses and the prophets.<br>
Let them listen to them.'<br>
He said, 'Oh no, father Abraham,<br>
but if someone from the dead goes to them, they will repent.'<br>
Then Abraham said,<br>
'If they will not listen to Moses and the prophets,<br>
neither will they be persuaded<br>
if someone should rise from the dead.'"</td>
        </tr>
    </table>
    <footer>
		<p>Copyright 2021 moi Jean Guy Nicolas - Toute reproduction souhaitée- Monday, January 29th 2024 at 10H31<br>Thursday, February 29th 2024 at 10H11</p>
	</footer>

          </div>
        </div>
    </div>
</body>
</html>