<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">

    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/guy.css' %}">

    <link rel="icon" href="../../favicon.ico">


    <title>Anglais Audio</title>


    <!-- Bootstrap core CSS -->

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="starter-template.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

  </head>



<body id="corpsJui">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
    <header>
      <nav>
        <div class="table">
          <ul>
            <li class="menu-exp"><a href="/" target="_blank">HOME</a></li>
            <li class="menu-ind"><a href="/janvier" target="_blank">LA BIBLE EN 1 AN</a></li>
                    <li class="menu-daily"><a href="/JANUARY" target="_blank">DAILY GOSPEL</a></li>
            <li class="menu-exp"><a href="/January" target="_blank">JOSEPH PRINCE</a></li>
                    <li class="menu-ind"><a href="/AnglaisAudio" target="_blank">ANGLAIS AUDIO</a></li>
                    <li class="menu-ind"><a href="/janvier" target="_blank">ReactJS</a></li>
                    <li class="menu-daily"><a href="/janvier" target="_blank">PYTHON</a></li><br><br>
                    <li class="menu-ind"><a href="/janvier" target="_blank">DJANGO</a></li>
                    <li class="menu-daily"><a href="/JANUARY" target="_blank">Tkinter</a></li>
            <li class="menu-exp"><a href="/January" target="_blank">PyQt5</a></li>
                    <li class="menu-daily"><a href="/JANUARY" target="_blank">MACHINE LEARNING</a></li>
                    <li class="menu-ind"><a href="/janvier" target="_blank">Turtle</a></li>
                    <li class="menu-daily"><a href="/JANUARY" target="_blank">FAMILLE</a></li>
    
    
          </ul>
        </div>
      </nav>
		</header><br>
    <h1><font color= "red" size="6"><strong> 20 minutes a day english <br/><font color= "green" size="3">by Rene Fulgence Tovondrainy</font> </strong></font></h1>
    <h1 class="MAG2">
        <a href="#0">0</a>
        <a href="#1">1</a>
        <a href="#2">2</a>
        <a href="#3">3</a>
        <a href="#4">4</a>
        <a href="#5">5</a>
        <a href="#6">6</a>
        <a href="#7">7</a>
        <a href="#8">8</a>
        <a href="#9">9</a>
        <a href="#10">10</a>
        <a href="#11">11</a>
        <a href="#12">12</a>
        <a href="#13">13</a>
        <a href="#14">rene</a>
        <a href="#15">15</a>
        <a href="#16">16</a>
        <a href="#17">17</a>
        <a href="#18">18</a>
        <a href="#19">19</a>
        <a href="#20">20</a>
        <a href="#21">21</a>
        <a href="#22">22</a>
        <a href="#23">23</a>
        <a href="#24">24</a>
        <a href="#25">25</a>
        <a href="#26">26</a>
        <a href="#27">27</a>
        <a href="#28">28</a>
        <a href="#29">29</a>
        <a href="#30">30</a>
        <a href="#31">31</a>
        <a href="#32">32</a>
        <a href="#33">33</a>
        <a href="#34">34</a>
        <a href="#35">35</a>
        <a href="#36">36</a>
        <a href="#37">37</a>
        <a href="#38">38</a>
        <a href="#39">39</a>
        <a href="#40">40</a>
        <a href="#41">41</a>
        <a href="#42">42</a>
        <a href="#43">43</a>
        <a href="#44">44</a>
        <a href="#45">45</a>
        <a href="#46">46</a>
        <a href="#47">47</a>
        <a href="#48">48</a>
        <a href="#49">49</a>
        <a href="#50">50</a>
        <a href="#51">51</a>
        <a href="#52">52</a>
        <a href="#53">53</a>
        <a href="#54">54</a>
        <a href="#55">55</a>
        <a href="#56">56</a>
        <a href="#57">57</a>
        <a href="#58">58</a>
        <a href="#59">59</a>
        <a href="#60">60</a>
        <a href="#61">61</a>
        <a href="#62">62</a>
        <a href="#63">63</a>
        <a href="#64">64</a>
    </h1>
    <table class="emploi">
    <tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "0">00 BOOK DESCRIPTION</font></strong></td></tr>
     <tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
  <source src="{% static 'AnglaisAudio/ang0.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "1">01 LESSON 1 - GREETINGS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "2">02 LESSON 2 - ASKING SB'S DWELLING</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang2.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "3">03 LESSON 3 - ASKING SB'S STAY</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang3.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "4">04 LESSON 4 - SAYING GOOD-BYE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang4.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "5">05 LESSON 5 - ASKING THE JOB</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang5.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "6">06 LESSON 6 - INTRODUCTION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang6.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr> 
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "7">07 LESSON 7-FAMILY RELATIONSHIP</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang7.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr> 
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "8">08 LESSON 8-TELLING THE TIME</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang8.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "9">09 LESSON 9 - MINOR SICKNESS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang9.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "10">10 LESSON 10 - UNDERSTANDING NOT UNDERSTANDING</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="{% static 'AnglaisAudio/ang10.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>  
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "11">11 LESSON 11 - AGREEING & DISAGREEING</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang11.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "12">12 LESSON 12. FOCUSING SB'S ATTENTION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang12.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr> 
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "13">13 LESSON 12-GENERAL PRACTICES LS 1-12</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang13.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "14">rene</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><video  preload="auto" controls width="900">
  <source src="./AnglaisAudio/rene.mp4" type='video/mp4'/>
  </video></td></tr> 
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "15">15 LESSON 13 - SIMPLE PRESENT-DAILY DIALOGUE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang15.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "16">16  LESSON 14 - SIMPLE PRESENT TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang16.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "17">17 LESSON 15 - EXERCISES OF SIMPLE PRESENT TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang17.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "18">18 LESSON 16 - EXPRESSING OPINIONS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang18.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "19">19 LESSON 17- LINKING WORDS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang19.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "20">20 LESSON 18  -PRESENT PROGRESSIVE TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang20.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "21">21 LESSON 19 - THE INFINITIVE VERBS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang21.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "22">22 LESSON 20-THE ARTICLES</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang22.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "23">23 LESSON 21 - THE PRONOUNS - POSSESSIVE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang23.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "24">24 LESSON 22-VOCABULARIES</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang24.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "25">25 LESSON 23-THE PAST CONTINUOUS TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang25.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "26">26 LESSON 24 - THE MODAL VERBS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang26.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "27">27 LESSON 25 - MODAL VERBS CONT, EXERCISES</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang27.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "28">28 LESSON 26 - WH-QUESTION-RELATIVE PRONOUNS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang28.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "29">29 LESSON 27 - PRESENT PERFECT (CONT)TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang29.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "30">30 LESSON 28 - VOCABULARIES - PAST PERFECT TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang30.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "31">31 LESSON 29 - QUANTIFIERS 1</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang31.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "32">32 LESSON 30 - QUANTIFIERS 2</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang32.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "33">33 LESSON 31- QUANTIFIERS 3</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang33.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "34">34 LESSON 32-VOCABULARIES</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang34.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "35">35 LESSON 33 - PREPOSITION - PUNCTUATIONS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang35.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "36">36 LESSON 34 - PASSIVE VOICE - FUTURE TENSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang36.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "37">37 LESSON 35-36 - COMPARATIVE-SUPERLATIVE FORMS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang37.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "38">38 LESSON 37- CONDITIONAL - IF CLAUSE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang38.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "39">39 LESSON 38 - DEBATE - LIFE CONDITION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang39.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "40">40 LESSON 39 - ANSWER-WHAT DO YOU THINK ABOUT LIFE IN TANA</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang40.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "41">02 LESSON 2 - ASKING SB'S DWELLING</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang41.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "42">42 LESSON 41-42 - REPORTED SPEECH</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang42.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "43">43 LESSON 43 - DAILY ENGLISH VOCABS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang43.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "44">44 LESSON 44 - GERUNDIVE - INFINITIVE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang44.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "45">45 LESSON 45 - DAILY ENGLISH 32-VOCABULARIES</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang45.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "46">46 LESSON 46 - NUMBERS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang46.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "47">47 LESSON 47 - TRICKY GRAMMAR - NUMB-SUMS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang47.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "48">48 LESSON 48-DEBATE-EDUCATION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang48.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "49">49 LESSON 49 - DEBATE - EDUCATION VOBS, CONT</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang49.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "50">50 LESSON 50- INTONATION - ACCENT TRAINING</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang50.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "51">51 LESSON 51-NOUNS IN PLURAL</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang51.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "52">52 LESSON 52- DEBATE - LAW -WHAT WOULD YOU..</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang52.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "53">53 LESSON 53-54 - PEOPLE - BODY - FACE</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang53.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "54">54 LESSON 55 - DEBATE - RELIGION VOCABS- WHY DO YOU GO TO CHURCH</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang54.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "55">55 LESSON 56 - DEBATE - ANSWER - RELIGION - POLITICAL TERMS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang55.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "56">56 LESSON 57 DEBATE - POLITICAL TERMS- CONT,</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang56.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "57">57 LESSON 58 -DEBATE - MEDICAL TERMS - ARE YOU AGAINST OR FOR ABORTION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang57.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "58">58 LESSON 59 - DEBATE - ANSWER - MEDICAL</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang58.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "59">59 LESSON 60 - DEBATE - AGRICULTURE VOCABS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang59.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "60">60 LESSON 61- ENGLISH FOR PRESENTATION</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang60.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "61">61 LESSON 62 - DAILY SPOKEN ENGLISH - SLANGS AND IDIOMS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang61.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "62">62 LESSON 63 - 64 - DAILY ENGLISH IRREGULAR VERBS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang62.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "63">63 LESSON 65 - 66 - DAILY ENGLISH VOCABS - SLANGS AND IDIOMS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang63.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
<tr><td colspan ="2" bgcolor = "green" width="1000"><strong><font color= "red" id = "64">64 LESSON 67 - 68 - PROVERBS</font></strong></td></tr>
<tr><td colspan="2" bgcolor="#FF1493"><audio controls ="controls" preload="none">
<source src="./AnglaisAudio/ang64.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></td></tr>
</table>
    <footer>
		<p>Copyright 2021 moi Jean Guy Nicolas - Toute reproduction souhaitée- Thursday, January 2024 at 06H53</p>
	</footer>

          </div>
        </div>
    </div>
</body>
</html>