<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/guy.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleCSS.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/eb54186516.js" crossorigin="anonymous"></script>
    <title>HOME</title>
</head>
<body id="corpsJui">
    
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
    <header>
        <h1><font color= "red" size="6"><i>Therefore if any man be in Christ, he is a new creature: old things are passed away; behold, all things are become new.</i></font><br><font color= "green" size="4">2 Corinthians 5:17</font></h1>
    </header><br>
    <audio controls ="controls" preload="none">
<source src="{% static 'audio/guysite.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio>
	<nav>
		<div class="table">
			<ul>
				<li class="menu-ind"><a href="/janvier" target="_blank">LA BIBLE EN 1 AN</a></li>
                <li class="menu-daily"><a href="/JANUARY" target="_blank">DAILY GOSPEL</a></li>
				<li class="menu-exp"><a href="/January" target="_blank">JOSEPH PRINCE</a></li>
                <li class="menu-ind"><a href="/AnglaisAudio" target="_blank">ANGLAIS AUDIO</a></li>
                <li class="menu-ind"><a href="/janvier" target="_blank">ReactJS</a></li>
                <li class="menu-daily"><a href="/janvier" target="_blank">PYTHON</a></li><br><br>
                <li class="menu-ind"><a href="/janvier" target="_blank">DJANGO</a></li>
                <li class="menu-daily"><a href="/JANUARY" target="_blank">Tkinter</a></li>
				<li class="menu-exp"><a href="/January" target="_blank">PyQt5</a></li>
                <li class="menu-daily"><a href="/JANUARY" target="_blank">MACHINE LEARNING</a></li>
                <li class="menu-ind"><a href="/janvier" target="_blank">Turtle</a></li>
                <li class="menu-daily"><a href="/JANUARY" target="_blank">FAMILLE</a></li>


			</ul>
		</div>
	</nav>
    <p>Seigneur, au milieu de toutes ces difficultés qui me tourmentent, je veux te louer et te bénir pour ta présence fidèle dans ma vie. Toi seul est digne de mon adoration en tout temps.Amen!</p>
    <h3 class="MAG2">
        <a href="#0">Prayers</a>
        <a href="#1">Every Day</a>
        <a href="#2">Sites</a>
        <a href="#3">Dactylo</a>
        <a href="#4">ReactJS</a>
        <a href="#5">To Revisit</a>
        <a href="#6">Django</a>
        <a href="#7">C</a>
        <a href="#8">Python</a>
        <a href="#9">Web</a>
        <a href="#10">JP</a>
        <a href="#11">Mes Codes</a>
        <a href="#12">Koto Maditra</a>
        <a href="#13">Movies</a>
        <a href="#14">Brouillon</a>
    </h3>
    <div class="pi-day">
    <h1><font color="red">MY PSALMS</font></h1>
    <ul>
        <li>Psaume 1<br>
<video title="PSAUME 91" preload="auto" controls width="900" align-item='center'>
<source src="{% static 'videos/ps1.mp4' type='video/mp4' %}">
</video>
        </li>
        <li>Psaume 23<br>
<video title="PSAUME 91" preload="auto" controls width="900" align-item='center'>
<source src="{% static 'videos/ps23.mp4' type='video/mp4' %}">
</video>
        </li>
        <li>Psaume 91<br>
<video title="PSAUME 91" preload="auto" controls width="900" align-item='center'>
<source src="{% static 'videos/ps91.mp4' type='video/mp4' %}">
</video>
        </li>
    </ul>
    </div>
    <div class="pi-day">
    <img src="{% static 'images/familles/Rialy78.jpg' %}" alt="Sanfrancisco" width="1000" height="900" >
    <img src="{% static 'images/familles/Jhn1an.jpg' %}" alt="Sanfrancisco" width="800" height="900" >
    <img src="{% static 'images/familles/papaniko.jpg' %}" alt="Sanfrancisco" width="300" height="300">
    <img src="{% static 'images/familles/rvhn.jpg' %}" alt="Sanfrancisco" width="300" height="300">
    <img src="{% static 'images/familles/irl.jpg' %}" alt="Sanfrancisco" width="300" height="300">
    <img src="{% static 'images/familles/jhn120124.jpg' %}" alt="Sanfrancisco" width="300" height="300">
    <img src="{% static 'images/familles/jhn150124.jpg' %}" alt="Sanfrancisco" width="300" height="300">
     <img src="{% static 'images/familles/lala.jpg' %}" alt="Sanfrancisco" width="1000" height="1000">
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_1.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_2.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_3.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_4.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_5.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_6.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    <video width='800' height= '500' controls>
    <source src="{% static 'videos/jhn/mars20_7.mp4' type='video/mp4' %}">
    
    Your browser does not support the video tag.
    </video>
    </div>
    <div class="pi-day" id="0">
        <h1><font color="red">PRIERES</font></h1>
        <div style="border: 3px solid orange; padding: 5px; font-size: 30px; color: blueviolet;">
        <h3><strong>Mon Dieu, tu es l’auteur de ma vie, je te suis reconnaissant de tout ce que tu as pu faire jusqu’à présent. À toi soient le règne, la puissance et la gloire, amen !
            <br>Car rien n'est impossible à Dieu. Luc 1:37.<br> Y a-t-il rien qui soit étonnant de la part de l'Éternel? Gn 18:14</strong></h3>
        </div>
        <p>Prière pour la guérison</p>
        <video title="Prière pour la guérison" preload="auto" controls width="500" height="500" align-item='center'>
<source src="{% static 'videos/Prière_pour_la_guérison.mp4' type='video/mp4' %}">
</video>
        <h1><audio controls ="controls" preload="none">
<source src="{% static 'audio/Priere3.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio>
        </h1>
        <p>SEIGNEUR JÉSUS. <br>Je me repent de mes péchés, vient dans mon coeur, je fais de toi mon Seigneur et sauveur, et merci Seigneur pour le baptême du Saint Esprit en moi.<br>Dans le nom de JESUS. <br>
            AMEN</p>
        <h1><audio controls ="controls" preload="none">
<source src="{% static 'audio/Priere.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio></h1>
        <p>SEIGNEUR JÉSUS <br>J’ai besoin de toi. Rempli moi de ta présence. Seigneur soit mon ami. Je viens vers toi les mains ouverte, Ouvre les yeux de mon coeur. Seigneur prends soin de moi, Tu es mon réconfort. Seigneur Jésus, attire moi à toi pour me protéger de mes ennemis. Manifeste ta présence. Donne -moi un coeur tout simple et la paix de mon esprit. Je sais que ma vie est en toi. Tu es mon dieu,mon sauveur. Attire moi à toi. Pardon Seigneur, et aide -moi à pardonner a moi-même de mes erreurs du passé et à pardonner à ceux qui mon offensé et rejeté. J’abandonne a tes pieds mes fardeaux. Seigneur viens ranimer le feu de la foi que tu as mis en moi. Entend mon appel Seigneur Jésus. Toi seul peut m’éclairer. Viens Seigneur m’ouvrir les yeux Et manifeste ta présence en ce jour.<br> Bénis soit ton Nom Seigneur.<br> Amen.</p>
    </div>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#a3e571"><tr><td>
        <h1><font color="#FF1493"><center>
      <br>
    </center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="yellow"><tr><td>
        <h1><font color="green"><center>
      <br>  
    
    </center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#a3e571"><tr><td>
        <h1><font color="#FF1493"><center>
    <audio controls ="controls" preload="none">
<source src="{% static '' %}audio/Priere1.mp3" type="audio/mp3"/>
Your browser does not support the audio element.
</audio><br><br>
    Seigneur Jésus, je ne veux plus vivre sous la culpabilité et la condamnation.<br> Aujourd'hui, je remets tous mes échecs, mes péchés et mes erreurs entre tes mains aimantes.<br> Et je reçois Ton pardon maintenant même dans mon cœur.<br> Merci pour ton sang précieux qui me lave plus blanc que neige.<br> En ce moment, je me tiens dans Ta justice, ta faveur, ta joie et ta paix.<br> Amen!</center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#88D8F9"><tr><td>
        <h1><font color="#FF6347"><center>
    <audio controls ="controls" preload="none">
<source src="{% static 'audio/Priere2.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio><br><br>
    Seigneur Jésus, tu es le refuge de notre famille, notre forteresse, notre Dieu, en toi nous avons <u>confiance</u>.<br> Nous ne faisons pas <u>confiance</u> à notre propre sagesse, à notre propre intelligence limitée et à nos propres capacités.<br> Nous avons <u>confiance</u> en vous.<br> Nous avons <u>confiance</u> en ta grâce et en ton amour pour nous.<br> Nous te faisons <u>confiance</u> pour nous garder dans ta santé et ta force divines, tous les jours de notre vie.<br> Nous te faisons <u>confiance</u> pour nous garder de la terreur, de la peur, des dangers, de la maladie et des accidents.<br> En Toi nous avons <u>confiance</u>.<br> Amen.</center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#a3e571"><tr><td>
        <h1><font color="#FF6347"><center>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/Psalm86.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio><br><br>
    PSALM 86<br><br>
    1 Bow down Your ear O Lord, hear me; for I am poor and needy,<br>
    2 Preserve my life, for I am boly; You are my God : save Your servant who trusts in You!<br>
    3 Be merciful to me, O Lord, for I cry to You all day long.<br>
    4 Rejoice the soul of Your servant, for to You, O Lord, I lift up my soul.        
    </center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#a3e571"><tr><td>
        <h1><font color="#FF6347"><center>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/TH_1.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio><br><br>
    ChatGPT : the TH sound<br><br>
    "The weather today is quite warm and pleasant.<br> It's a good day to go for a walk in the park or have a picnic.<br> There's a beautiful path through the woods that leads to a peaceful clearing.<br> You can sit beneath the trees and enjoy the serenity.<br> This is the kind of place where you can think and reflect.<br> It's a perfect spot to read a book or simply breathe in the fresh air.<br> The soothing sound of the stream adds to the tranquility of the area.<br> So, take some time to relax and appreciate the beauty of nature."     
    </center></font></h1></td></tr></table>
    <table width="100%" border ="5" cellspacing="5" cellpadding="10" bgcolor="#a3e571"><tr><td>
        <h1><font color="#FF6347"><center>
            <audio controls ="controls" preload="none">
<source src="{% static 'audio/TH_2.mp3' %}" type="audio/mp3"/>
Your browser does not support the audio element.
</audio><br><br>
    The English Coach<br><br>Free Sample of the TH Toolkit<br><br>
    "The moment he got there, he crossed paths with both Cathy Smith, his mother’s therapist, and Seth Worthington, a wealthy mathematician.<br> Truthfully, Ethan didn’t think much of either one.<br> Cathy gave worthless advice that was highly unethical, and Seth was a pathological liar."    
    </center></font></h1></td></tr></table>
    <div style="border: 10px solid blue; padding: 50px; font-size: 30px; color: blueviolet" id="1" >
        <h1><font color="red" id="2">must be done every day</font></h1>
        <ol>
        <li><a href="https://bible.alpha.org/fr/classic/" target="_blank">Toute la Bible, un jour à la fois. (J1 : 11/03/24 &#8594; J13 : 23/03/24)</a></li>
        <li><a href="https://www.aelf.org/" target="_blank">AELF</a></li>
        <li><a href="https://www.anglaisfacile.com/" target="_blank">AnglaisFacile</a></li>
        <li><a href="https://www.francaisfacile.com/" target="_blank">FrançaisFacile</a></li>
        <li><a href="/janvier" target="_blank">LA BIBLE EN 1 AN</a></li>
        <li><a href="https://lapenseedujour.topchretien.com/" target="_blank">La pensée du jour - SELAH  </a></li>
        <li><a href="/AnglaisAudio" target="_blank">ANGLAIS AUDIO </a></li>
        <li><a href="/JANUARY" target="_blank">DAILY GOSPEL</a></li>
        <li><a href="/January" target="_blank">JOSEPH PRINCE</a></li>
        <li><a href="https://www.pythonanywhere.com/user/lalriv/" target="_blank" >PythonAnywhere</a></li>
        </ol>  
            </div>
    <div class="pi-day">
    <h1><font color="red" id="2">MY SITES</font></h1>
  <h2> <ol>
    <li><a href="https://www.wordproject.org/bibles/fr/index.htm" target="_blank">LA SAINTE BIBLE</a></li>
    <li><a href="https://www.usccb.org/" target="_blank">USCCB</a></li>
    <li><a href="https://www.careme40.org/" target="_blank">CARÊME40</a></li>
    <li><a href="https://www.josephprince.org/blog/daily-grace-inspirations" target="_blank">DAILY GRACE INSPIRATIONS </a></li>
    <li><a href="https://www.canalplus-madagascar.com/" target="_blank">CANAL+</a></li>
    <li><a href="https://radiogospel.fr/player/" target="_blank">Radio Gospel </a></li>
    <li><a href="https://yannisgautier.com/" target="_blank">Yannis Gautier</a></li>
    <li><a href="https://d1yei2z3i6k35z.cloudfront.net/4932797/658504a7d6942_Alphabet.pdf?sc=2355613984efd9aa279123cb32e4701efc28ce2da" target="_blank">Yannis Gautier: l´ alphabet
des promesses de dieu</a></li>
    <li><a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/home" target="_blank">Twitter</a></li>
    <li><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Gmail</a></li>
    <li><a href="https://fr.mail.yahoo.com/d/folders/1?guce_referrer=aHR0cHM6Ly9sb2dpbi55YWhvby5jb20v&guce_referrer_sig=AQAAAJ_H7rhwK7UI9Db54hfIIIQxHoEm40maZkdmpyS9i8RancoL8seEm1BZ6_ugm-fs_daEXm8ETf_ALUY7rjVmKt_DQj84J8yeOPsEozPeClHcJOkeqBWNTp8CP3lBrhRHLTUYDCJGdQ3zKiYjwvyTovwmJVM_k62GfEg4z_zpfs8T&.src=ym&reason=desktop" target="_blank">Yahoo! mail</a></li>
    <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
    <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    <li><a href="https://translate.google.com/?hl=fr&sl=en&tl=fr&text=Today%27s%20Dev&op=translate" target="_blank">GoogleTraduction</a></li>
    <li><a href="https://www.youtube.com/watch?v=g1lBHmKcGVk" target="_blank">Le défi d'expression anglaise de 30 jours !</a></li>
    <li><a href="https://www.youtube.com/watch?v=J9MFr6_p8PQ" target="_blank">Zee English</a></li>
      <li><a href="https://rivlal.github.io/jeanguy/" target="_blank">jeanguy sur Github</a></li>
      <li><a href="https://rivlal.github.io/devHTML/" target="_blank">dev-react sur firebase</a></li>
      <li><a href="https://my-react-app-94cc2.web.app/?g=4173378cb897ebe435a2a2ef27320a61" target="_blank">devHTML sur Github</a></li>
    <li><a href="https://www.worldenglishinstitute.org/admin" target="_blank">World English Institute</a></li>
    <li><a href="https://www.toomics.live/fr/webtoon/episode/toon/5613/np/3" target="_blank">Toomics</a></li>
    <li><a href="https://www.youtube.com/channel/UCrRiVfHqBIIvSgKmgnSY66g" target="_blank">MMMENGLISH</a></li>
     <li><a href="https://progate.com/courses?register=true" target="_blank">Web Development Courses (prograte)</a></li>
	<li><a href="https://code.visualstudio.com/docs/sourcecontrol/overview" target="_blank">Using Git source control in VS Code</a></li>
    <li><a href="https://www.hostinger.fr/tutoriels/tuto-git?fbclid=IwAR0RKeCCIfqd2NbJN19v5SivGn-NSL2r6hQ3fhJyTGHJYUQ_tFHv6SeU87Q" target="_blank">Tuto GIT pour une prise en main rapide !</a></li>
      <li><a href="https://support.atlassian.com/bitbucket-cloud/docs/add-edit-and-commit-to-source-files/" target="_blank">Git : Add, edit, and commit to source files</a></li>
      <li><a href="https://www.hostinger.fr/tutoriels/commandes-git" target="_blank">Les commandes GIT que vous devez absolument connaître</a></li>
      <li><a href="https://www.digitalocean.com/community/tutorial_series/how-to-code-in-javascript?mkt_tok=MTEzLURUTi0yNjYAAAGJ82A7W-ar2u79VYql7YD52kCky8EYXQ2BESziZOUt1_G5xunYD1_68iSfJddfDbjuZQ4NK-1xyJrTiKy_Nk3MAJk2r4LW--WZZ1saHVEgLw" target="_blank">DigitalOcean : How To Code in JavaScript</a></li>
      <li><a href="https://www.digitalocean.com/community/tutorial_series/how-to-code-in-react-js?mkt_tok=MTEzLURUTi0yNjYAAAGJ82A7W040M6iAERsmeA7r0BPiL9BnV0NPXnV3xDTV1LePQliFPQ03kCd3FnwV4WjfaC7UDKvK3WvhOL5qKhj_1TbZNMiWIsaM4563cWKVaw" target="_blank">DigitalOcean : How To Code in React.js</a></li>
      <li><a href="https://www.digitalocean.com/community/tutorial_series/how-to-code-in-typescript?mkt_tok=MTEzLURUTi0yNjYAAAGJ82A7WxLnPK5_suC4qvqMgHKaBOWNoq3sXRELeUANJ8bFGrveT3jX6YIbpqg4kl3_YvpujQuPDQ40baFcalO0pALQnYAwFVzXlvwmr5oaCw" target="_blank">DigitalOcean : How To Code in TypeScript</a></li>
      <li><a href="https://www.digitalocean.com/community/tutorial_series/how-to-code-in-python-3?mkt_tok=MTEzLURUTi0yNjYAAAGJ82A7W51JMKFnZ4grJy8O8WmJhIU_9FvSmICYediyIGFQMskokmaWiUJO803KaTv7ldhc1pqfXMYQFG-uLwpHExZe-Fgrnh0cFz8Y-aDgyw" target="_blank">DigitalOcean : How To Code in Python</a></li>
      <li><a href="https://github.com/lewagon/setup/blob/master/ubuntu.fr.md?fbclid=IwAR3oFVISJ-es2RiOrh2BMtUtM-qUI-aaEGvbCMzugbKXN39Gw7JPTCKqt-U" target="_blank"> la formation Développement Web du Wagon.</a></li>
      <li><a href="https://lichess.org/" target="_blank">lichess</a></li>
      <li><a href="https://www.europe-echecs.com/simplechess.html#play" target="_blank">europe echecs</a></li>
      <li><a href="http://192.168.8.1/html/checkservice.html" target="_blank">TELMA</a></li>
   </ol></h2>
            </div>
    <div class="pi-day">
    <h1><font color="red" id="3">Cours de dactylographie </font></h1>
            
    <h2>
        <ol>
            <li><a href="https://www.typingstudy.com/fr-french-2/lesson/1" target="_blank">Touch Typing Study</a></li>
            <li><a href="https://www.ratatype.com/#typing-tutor" target="_blank">RATATYPE</a></li>
            <li><a href="https://www.monkey-type.org/" target="_blank">Monkey Type</a></li>
             <li><a href="https://monkeytype.com/" target="_blank">monkeytype</a></li>
            <li><a href="https://www.mecagratis.com/index.php?p=cursoFra" target="_blank">interDidactica</a></li>
            <li><a href="https://sense-lang.org/typing/games/FR_balloon.php?key=french#" target="_blank">Jeu de Ballon</a></li>
            <li><a href="https://agilefingers.com/fr/jeux/sauvetage-des-moutons" target="_blank">SAUVETAGE DES MOUTONS</a></li>
            <li><a href="https://www.dactylocours.com/leccionFRA1.htm?v=889938926889881894883961898902900882883898940961898938926889881894883902899888961890938950961" target="_blank">DACTYLOCOURS</a></li>
            <li><a href="https://app.taptouche.com/accueil/" target="_blank">Tap'Touche</a></li>
            <li><a href="https://agilefingers.com/fr" target="_blank"> AgileFingers</a></li>
            <li><a href="https://www.dactylographie-online.com/" target="_blank">dactylographie-online</a></li>
            <li><a href="https://www.typing.com/" target="_blank">Typing</a></li>
            <li><a href="https://www.typingclub.com/" target="_blank">TypingClub</a></li>
            <li><a href="https://www.how-to-type.com/" target="_blank">how to type(**)</a></li>
            <li><a href="https://thetypingcat.com/" target="_blank">TypingCAT(Miaou!!!)</a></li>
            <li><a href="https://10fastfingers.com/" target="_blank">10fastfingers</a></li>
            <li><a href="https://ansonalex.com/tutorials/free-typing-tutorial-online-video/#Touch_Typing_First_Practice" target="_blank">Anson Alex</a></li>
            <li><a href="https://www.touslescours.com/taper-vite/" target="_blank">FrançaisFacile</a></li>
        </ol>
    </h2>
            </div>
    <div class="pi-day">
    
        <h1><font color="red" id="4">ReactJS</font></h1>
            <h2>
                <p style="border: 8px solid orange; color: blue; font-size:30px;">
                    racourci : rsc - ffc
                    npm view react version<br>
                (dans h1)We are currently using react version{" "} {React.version}
            <br>npx create-react-app name_of_the_app
                    <br>npx create-react-app my-app --template typescript<br>
                condition ? exprSiVrai : exprSiFaux; (opérateur ternaire conditionnel )</p>
            <ol>
                <li><a href="https://www.vultr.com/docs/installing-node-js-and-express-on-ubuntu-20-04/" target="_blank">Installing Node.js and Express on Ubuntu 20.04</a></li>
                <li><a href="https://openclassrooms.com/fr/courses/7008001-debutez-avec-react" target="_blank">openclassrooms : Débutez avec React</a></li>
                <li><a href="https://chat.openai.com/c/fa5a371f-1c0d-4246-8b75-53dfa47d2eea" target="_blank"> React Project With ChatGPT : mediatheque-react</a></li>
                <li><a href="https://openclassrooms.com/fr/courses/7150606-creez-une-application-react-complete/7254405-architecturez-votre-projet" target="_blank">openclassrooms : Créez une application React complète</a></li>
                <li><a href="https://kinsta.com/fr/base-de-connaissances/erreur-switch-is-not-exported-from-react-router-dom/" target="_blank">Comment corriger l’erreur « Switch is not exported from ‘react-router-dom’ in React »</a></li>
                <li><a href="https://reactjs.org/" target="_blank">REACT.JS</a></li>
                <li><a href="https://ipsum.one/fr" target="_blank">Générer du faux texte français aléatoirement</a></li>
                <li><a href="https://github.com/fullstackreact/30-days-of-react" target="_blank">30 Days of React</a></li>
                 <li><a href=" https://create-react-app.dev/" target="_blank">create-react-app</a></li>
                <li><a href="https://create-react-app.dev/docs/deployment/" target="_blank">react deployment </a></li>
                <li><a href="https://www.freecodecamp.org/news/how-to-deploy-a-react-app-with-firebase?g=4173378cb897ebe435a2a2ef27320a61" target="_blank">How to Host and Deploy a React App with Firebase</a></li>
                <li><a href="https://medium.com/@hmoeedirfan/a-step-by-step-guide-to-deploying-your-website-on-firebase-for-free-3-mins-978b85144771" target="_blank"> Deploying Your Website on Firebase</a></li>
                <li><a href="https://www.youtube.com/watch?v=cd3P3yXyx30&t=2201s" target="_blank">React JS Tutorial - Basic to Advance 6H</a></li>
                <li><a href="https://www.youtube.com/watch?v=oCINeytlyRA&t=2s" target="_blank">Simon Dieny : React Tutorial Français pour Débutant - Cours complet 7h </a></li> 
                <li><a href="https://www.pokemon.com/us/pokedex" target="_blank">Pokédex</a></li>
                <li><a href="https://materializecss.com/getting-started.html" target="_blank">Learn how to easily start using Materialize in your website.</a></li>
                <li><a href="https://www.youtube.com/watch?v=GeIFHYVTyik&t=8s" target="_blank">DrcMind : Cours complet sur ReactJS dans 5 heures</a></li>
                <li><a href="https://www.youtube.com/watch?v=pS0v5eY7W9k&t=2517s" target="_blank">From Scratch : Coder son CV avec React </a></li>
                <li><a href="https://www.youtube.com/watch?v=OumO16lH9uo" target="_blank">Atomic React : Comprendre le hook useState de React</a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/watch?v=PvndxDHVaW8" target="_blank">Atomic React : Comprendre les PROPS des composants React</a></li>
                <li><a href="https://www.youtube.com/watch?v=9XQkiwby3nw" target="_blank">Atomic React : Comprendre le hook useEffect de React</a></li>
                <li><a href="https://www.youtube.com/shorts/wERTsmvyJ6w" target="_blank">Utiliser le "Short Circuit Operator" avec React.</a></li>
                <li><a href="https://www.youtube.com/watch?v=f55qeKGgB_M" target="_blank">PedroTech : React Course For Beginners - Learn React in 8 Hours</a></li>
                <li><a href="https://www.youtube.com/watch?v=7KC8QQXXN1M&t=78s" target="_blank">codeconcept : Apprendre React en 2h30: des bases solides pour être rapidement autonome en React</a></li>
                <li><a href="https://fr.legacy.reactjs.org/docs/hooks-intro.html?g=4173378cb897ebe435a2a2ef27320a61" target="_blank">Introduction aux Hooks</a></li>
                <li><a href="https://www.youtube.com/watch?v=dpw9EHDh2bM&t=2614s" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/watch?v=dpw9EHDh2bM&t=2614s" target="_blank">React Today and Tomorrow and 90% Cleaner React With Hooks</a></li>
                <li><a href="https://www.geeksforgeeks.org/react-tutorial/" target="_blank">Geeks For Geeks : React Tutorial</a></li>
                <li><a href="https://www.geeksforgeeks.org/" target="_blank">Geeks For Geeks</a></li>
                <li><a href="https://www.youtube.com/watch?v=-MlNBTSg_Ww" target="_blank">Academind : React.js Hooks Crash Course</a></li>
                <li><a href="" target="_blank"></a></li>
            </ol>
                <p>Simon Dieny 1:22:10 - 1:31:17(miseho ny pokémon) &#8594; 2:03:46 (code flêche  &# 8594; ) <br>
                codeconcept : 21/03/2024 (my-progress &#8594; 1:31:48)
                </p>
        </h2>
        <h3>Today's Dev</h3>
        <ul>
            <li>19/03/24 : guy-tsx. Les Hooks </li>
            <li><a href="https://www.youtube.com/watch?v=3F9kQfUcZLo" target="_blank">Serge Fonda - La bonne Bonne : épisode 1 la rencontre</a></li>
            <li><a href="https://www.youtube.com/watch?v=Rv2kIid0zIA" target="_blank">Serge Fonda - Voici comment les footballeurs offrent les jeunes filles en sacrifice pour réussir</a></li>
            <li><a href="https://www.youtube.com/watch?v=WCkvTV1bxTU" target="_blank">Serge Fonda - Voici ce qui arrive lorsque le pasteur et le marabout se croisent chez cette fille</a></li>
            <li><a href="https://www.youtube.com/watch?v=RCHbWlVkPTU" target="_blank">Serge Fonda - Voici comment les maris de nuit détruisent vos vies</a></li>
            <li><a href="https://www.youtube.com/watch?v=rsaLUSnQ4J8&t=344s" target="_blank">Serge Fonda - Cette jeune femme décide de séduire ce pasteur et ceci arrive</a></li>
            <li><a href="https://www.facebook.com/Bpremier995/videos/1816996675433795/" target="_blank">Africa time : Un miracle de Dieu </a></li>
            <li><a href="https://ok.ru/video/3236402039452" target="_blank">Le Royaume Occultique - Film Nigerian En Francais</a></li>
            <li><a href="https://www.facebook.com/watch/?v=915578110303143" target="_blank">De retour au Zamunda : Prince de new York</a></li>
            <li><a href="https://mdundo.com/p/47558utm_source=all_cpm&utm_medium=cpc&utm_campaign=UserCampaign" target="_blank">Hottest HipHop Afrobeats & Hits playlist</a></li>
            <li><a href="https://www.youtube.com/watch?v=yBoGd-9uVBU" target="_blank">AFROBEATS TOP 100</a></li>
            <li><a href="https://www.youtube.com/watch?v=1tmiujfKTSg" target="_blank">Pourquoi Poutine veut "Détruire Macron"| H5 Motivation</a></li>
            <li><a href="https://www.youtube.com/watch?v=Y3lfPoT-CN4&t=8s" target="_blank">Commandes Linux indispensables pour être autonome</a></li>
            <li><a href="" target="_blank"></a></li>
        </ul>
            </div>
    <div class="pi-day">
        <h1><font color="red" id="5">TO REVISIT</font></h1>
    <ol>
      <li><a href="https://openclassrooms.com/fr/courses/1603881-creez-votre-site-web-avec-html5-et-css3?g=4173378cb897ebe435a2a2ef27320a61" target="_blank">Créez votre site web avec HTML5 et CSS3</a></li>
      <li><a href="https://openclassrooms.com/fr/courses/1871271-developpez-votre-site-web-avec-le-framework-django/1871361-creez-vos-applications-web-avec-django" target="_blank">Développez votre site web avec le framework Django</a></li>
      <li><a href="https://www.learningaboutelectronics.com/Articles/How-to-create-a-video-uploader-with-Python-in-Django.php" target="_blank">How to Create a Video Uploader with Python in Django</a></li>
      <li><a href="https://www.learningaboutelectronics.com/Articles/How-to-display-a-video-in-Django.php" target="_blank">How to Display a Video in Django</a></li>
      <li><a href="https://jupyter.org/install" target="_blank">Installing Jupyter</a></li>
      <li><a href="https://docs.python.org/3/library/tkinter.html" target="_blank">tkinter — Python interface to Tcl/Tk</a></li>
      <li><a href="https://www.ovhcloud.com/fr/community/tutorials/how-to-install-nodejs-ubuntu/?g=4173378cb897ebe435a2a2ef27320a61" target="_blank">Installer Node.js sur Ubuntu 22.04</a></li>
      <li><a href="https://react.dev/learn" target="_blank">REACT-DEV</a></li>
      <li><a href="https://www.conseil-webmaster.com/formation/html5/balise-video-html5.php" target="_blank">Balise video en HTML5</a></li>
      <li><a href="https://micworker.com/fr#issues" target="_blank">TEST DU MICROPHONE</a></li>
      <li><a href="https://www.youtube.com/watch?v=_n_UVPKC_AE" target="_blank">Melvynx : Apprendre REACT en juste 5 minutes (2024)</a></li>
      <li><a href="https://www.youtube.com/watch?v=Lgvt9mN23qM" target="_blank">Melvynx : Apprendre TypeScript en juste 5 MINUTES (2024)</a></li>
      <li><a href="https://www.youtube.com/watch?v=OBciomJ898k" target="_blank">Melvynx : Apprendre TAILWIND en juste 5 MINUTES (2024)</a></li>
      <li><a href="" target="_blank"></a></li>
    </ol>
            </div>
    <div class="pi-day">
        <h1><font color="red" id="6">DJANGO</font></h1>
    <ul>
        <li><a href="https://github.com/donaldte/pythonanywhere/blob/main/README.md" target="_blank">Donald Programmeur : Comment Deployer sur PythonAnywhere Une Application django</a></li> 
        <li><a href="" target="_blank"></a></li> 
    </ul>
    <video controls width="900" align-item="center">
    <source src="{% static 'videos/5-Fetch Data From a Database And Output To A Webpage.mp4' type='video/mp4' %}">
    </video>
    <video controls width="900" align-item="center">
    <source src="{% static 'videos/1-Before You Install Django...Watch This!.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <p>1-Before You Install Django...Watch This! </p>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/2-How_To_Add_A_Calendar_To_Your_Website.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <p>2-How To Add A Calendar To Your Website</p>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/3-How_To_Use_Templates_and_Custom_HTML.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <p>3-How To Use Templates and Custom HTML</p>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/4-Using_Multiple_Database_Tables_With_Django.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <p>4-Using Multiple Database Tables With Django.mp4</p>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/5-Fetch Data From a Database And Output To A Webpage.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <p>5-Fetch Data From a Database And Output To A Webpage</p>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
    <h1>1-Create Graphical User Interfaces With Python and PyQT5 - PyQt5 GUI</h1>
    <video width='320' height= '240' controls>
    <source src="{% static 'videos/vid6.mp4' type='video/mp4' %}">
    Your browser does not support the video tag.
    </video>
            </div>
    <div class="pi-day">
    <h1><font color="red" id="7">Langage C</font></h1>
    <h2>
        <ol>
            <li><a href="https://openclassrooms.com/fr/courses/19980-apprenez-a-programmer-en-c" target="_blank"><strong><font color= "green">Apprenez à programmer en C</font></strong></a></li>
            <li><a href="https://zestedesavoir.com/tutoriels/755/le-langage-c-1/" target="_blank"><font color= "green">Zeste de Savoir : Le langage C</font></a></li>
            <li> 
                <a href="https://www.javatpoint.com/how-to-run-a-c-program-in-visual-studio-code?g=4173378cb897ebe435a2a2ef27320a61" target="_blank"><strong><font color= "green">How to run a C program in Visual Studio Code</font></strong></a>
            </li>
        </ol>
    </h2>
            </div>
    <div class="pi-day">
    <center><h1><font color="red" id="8">PYTHON</font></h1></center>
    <h2>
        <ol>
            <li><a href="https://www.pythonanywhere.com/user/lalriv/" target="_blank">PythonAnywhere</a></li>
            <li><a href="https://github.com/donaldte/pythonanywhere" target="_blank">Comment Deployer sur PythonAnywhere Une Application django (Donald Programmeur)</a></li>
            <li><a href="https://python.developpez.com/cours/apprendre-python-3/?page=exercices-corriges#L14-1" target="_blank">Python3 : Exercices corrigés</a></li>
            <li><a href="https://geekflare.com/fr/beginner-python-projects/" target="_blank"><strong><font color= "green">15 projets Python pour débutants à pratiquer et à apprendre</font></strong></a></li>
            <li><a href="https://geekflare.com/fr/python-multiplication-table/?fbclid=IwAR0EGvRqqON5ltUOin62w1w6aA1eabO9nFJOym5PqnaBR0LdxkD_YlY4Nm0" target="_blank"><strong><font color= "green">Créer une application de table de multiplication Python avec POO</font></strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=5qOnzF7RsNA" target="_blank"><strong><font color= "green">Create GUI App with Tkinter and SQLite - Step by Step Python Tutorial for Beginners</font></strong></a></li>
            <li><a href="https://linuxhint.com/install-python-pip-ubuntu-22-04/" target="_blank"><strong><font color= "green">How to Install Python pip on Ubuntu 22.04</font></strong></a></li>
            <li><a href="https://linuxhint.com/sqlite-show-tables/" target="_blank"><strong><font color= "green">SQLite Show Tables</font></strong></a></li>
            <li><a href="https://python.sdv.univ-paris-diderot.fr/19_avoir_la_classe_avec_les_objets/?fbclid=IwAR0jj89WDYa83Vf8EhYSGI04nv0X28bsUfO_tHxZlfe5GGZp2ry5KoMf7JU" target="_blank"><strong><font color= "green">Avoir la classe avec les objets</font></strong></a></li>
            <li><a href="https://linuxhint.com/install-sqlite-browser-ubuntu/?fbclid=IwAR2s7_LIeEqml7-nyboTAZOPqrWgxvVFHTp2-Dt8EwTf1ezqoWoTsG0uyf0" target="_blank"><strong><font color= "green">Comment installer le navigateur SQLite dans Ubuntu 20.04</font></strong></a></li>
            <li><a href="https://python.developpez.com/cours/apprendre-python3/" target="_blank"><strong><font color= "green">developpez.com : Apprendre à programmer avec Python 3</font></strong></a></li>
            <li><a href="https://zestedesavoir.com/tutoriels/2514/un-zeste-de-python/" target="_blank"><font color= "green">Un zeste de Python</font></a></li>
            <li>                                        <a href="https://docs.python.org/fr/3.10/tutorial/" target="_blank"><strong><font color= "green">Le tutoriel Python</font></strong></a></li>
            <li><a href="https://zestedesavoir.com/tutoriels/1253/la-programmation-orientee-objet-en-python/" target="_blank"><font color ="green"></font><strong><font color= "green">zeste poo python</font></strong></a></li>
            <li><a href="https://zestedesavoir.com/tutoriels/870/des-interfaces-graphiques-en-python-et-gtk/" target="_blank"><strong><font color= "green">zeste des interfaces graphiques en Python et GTK</font></strong></a></li>
            <li><a href="https://realpython.com/courses/real-python-welcome/" target="_blank"><strong><font color= "green">Welcome to Real Python!</font></strong></a></li>
            <li><a href="https://darchevillepatrick.info/index.htm" target="_blank"><strong><font color= "green">Site de Patrick Darcheville</font></strong></a></li>
            <li><a href="https://itslinuxfoss.com/install-idle-python-ide-ubuntu-22-04/?fbclid=IwAR2ej_kiKr0XUECffmmUG8NOWq3RrM77GtWxi_N98z2lnfA2xFkTPG7G_5k" target="_blank"><strong><font color= "green">How to Install IDLE Python IDE on Ubuntu 22.04?</font></strong></a></li>
            <li><a href="https://python.developpez.com/tutoriels/apprendre-programmation-python/les-bases/?page=le-langage-python&fbclid=IwAR3CDeyvs39xL40GxS_lgUl3nq_mGe6RqPV8MBfYLRWO6oeJtghHxgQlhkg" target="_blank"><strong><font color= "green">Apprendre Python et s'initier à la programmation</font></strong></a></li>
            <li><a href="https://www.pierre-giraud.com/python-apprendre-programmer-cours/?fbclid=IwAR2jDKQTirFdVyjmEfzKn6wMwiVQ2Kp5EAJsxP8t391rw2phWibCjGTwk5s" target="_blank"><strong><font color= "green">Pierre-Giraud : Cours complet Python</font></strong></a></li>
            <li><a href="https://www.tresfacile.net/python-cours-et-exercices-resolus/" target="_blank"><strong><font color= "green">Très Facile : Python Cours Et Exercices Résolus</font></strong></a></li>
            <li><a href="https://learn.microsoft.com/fr-fr/training/modules/python-install-vscode/5-exercise-install-python-extension?pivots=linux&g=4173378cb897ebe435a2a2ef27320a61" target="_blank"><strong><font color= "green">Installer l’extension Python pour Visual Studio Code</font></strong></a></li>
            <li><a href="https://realpython.com/python-pyqt-database/" target="_blank"><strong><font color= "green">Handling SQL Databases With PyQt: The Basics</font></strong></a></li>
        <li><a href="https://realpython.com/welcome/" target="_blank"><strong><font color= "green">Welcome to the Real Python Community!</font></strong></a></li>
        <li><a href="https://pythonprogramming.net/application-structure-pyqt-tutorial/" target="_blank"><strong><font color= "green">PyQT Application Structure</font></strong></a></li>
        <li><a href="https://levelup.gitconnected.com/pyqt5-tutorial-learn-gui-programming-with-python-and-pyqt5-df4225d2e3b8" target="_blank"><strong><font color= "green">PyQt5 tutorial: learn GUI programming with Python and PyQt5</font></strong></a></li>
        <li><a href="https://www.tresfacile.net/la-bibliotheque-graphique-pyqt5/" target="_blank"><strong><font color= "green">Très Facile  : Apprendre PyQt5</font></strong></a></li>
        <li><a href="https://www.youtube.com/watch?v=nLRL_NcnK-4" target="_blank">Harvard CS50’s Introduction to Programming with Python – Full University Course</a></li>
            <li><a href="" target="_blank"></a></li>
        </ol>
    </h2>
            </div>
    <div class="pi-day">
    <center><h1><font color="red" id="9">HTML5 CSS3 JavaScript</font></h1></center>
    <h2>
        <ol>
            <li><a href="https://jaetheme.com/balises-html5/" target="_blank">Liste des balises HTML5</a></li>
        <li><a href="https://zestedesavoir.com/tutoriels/3577/apprendre-le-javascript-moderne-en-creant-une-to-do-list-de-a-a-z/" target="_blank">Apprendre le JavaScript moderne en créant une to-do list de A à Z</a></li>
        <li><a href="https://www.youtube.com/watch?v=fm3uLUtlxUw" target="_blank">Use of rowspan and colspan attribute to Create non-structured Table in HTML</a></li>
        <li><a href="https://www.youtube.com/watch?v=HQopEEurQYE" target="_blank">LiveCode : Navbar Responsive en HTML & CSS</a></li>
        <li><a href="https://www.youtube.com/watch?v=wrRd1W_vtUw" target="_blank">École du Web : Comprendre Flexbox en 22 minutes</a></li>
        <li><a href="https://www.youtube.com/watch?v=iG2jotQo9NI&t=5s" target="_blank">HTML & CSS for Beginners | FREE MEGA COURSE (7+ Hours!)</a></li>
        <li><a href="" target="_blank"></a></li>
        </ol>
    </h2>
    </div>
    <div class="pi-day">
    <center><h1><font color="red" id="10">JOSEPH PRINCE</font></h1></center>
    <h2>
        <ol>
            <li><a href="https://www.josephprince.com/" target="_blank">Meditate Daily Devotional</a></li>
            <li><a href="https://www.josephprince.org/blog/daily-grace-inspirations" target="_blank">DAILY GRACE INSPIRATIONS</a></li>
        </ol>
        </h2></div>
            <div class="pi-day">
    <center><h1><font color="red" id="11">MES CODES</font></h1></center>
   <h2>
    <ol>
        <li>
	<font color = "blue">Brackets</font>
	<ul>
		<li>sudo snap install brackets --classic</li>
		<li>sudo snap remove brackets</li>
        <li><font color="green">Brackets installation issue on Linux due to libcurl3 #14786</font></li>
        <li>dpkg-deb -R ./Brackets.Release.1.14.64-bit.deb Brackets</li>
        <li>sed -i 's/libcurl3/libcurl3 | libcurl4/' Brackets/DEBIAN/control</li>
        <li>dpkg-deb -b Brackets Brackets-fixed.deb</li>
        <li>sudo apt install -f ./Brackets-fixed.deb</li>
	</ul>
	</li>
    <li><font color="blue">Install  and uninstall pychess</font>
    <ul>
        <li>sudo apt-get update</li>
        <li>sudo apt-get install pychess</li>
        <li>sudo apt-get autoremove --purge pychess</li>
    </ul>    
    </li>
	<li><font color="blue">Git && GitHub </font>
            <ul>
                <li>TERMINALE-Ouvrir: Ctrl + Alt + T</li>
                <li>TERMINALE-Quitter: Ctrl + Shift + Q</li>
                <li>sudo apt-get update</li>
                <li>sudo apt-get install git</li>
                <li>git --version (2.25.1)</li>
                <li>git config --global user.name "rivlal" </li>
                <li>git config --global user.email "gaynikot@gmail.com"</li>
                <li>git config --list</li>
                <li>git init</li>
                <li>git add nom_fichier</li>
                <li>git add .</li>
                <li> git add *.html</li>
                <li>Add all new files : git add --all</li>
                <li> Remove a file : git rm -f filename</li>
                <li>git rm -f FebJP.html</li>
                <li>git status</li>
                <li>git commit –m “Message pour décrire le commit”</li>
                <li>git log</li>
                <li>git remote add origin https://github.com/rivlal/TIG.git</li>
                <li>git branch -M main</li>
                <li>git push -u origin main</li>
                <li>git push</li>
            </ul>
    </ol>
                </h2></div>
        <div class="pi-day">
    <h1><font color="red" id="12">KOTO MADITRA</font></h1>
   <h2>
    <ol>
        <li><a href="https://lecrabeinfo.net/installer-ubuntu-22-04-lts-le-guide-complet.html" target="_blank">Installer Ubuntu 22.04 LTS : le guide complet</a></li>
        <li><a href="https://linuxhint.com/install-brackets-code-editor-ubuntu-22-04/" target="_blank">Install Brackets Code Editor on Ubuntu 22.04</a></li>
        <li><a href="https://linuxhint.com/install-vlc-media-player-ubuntu22-04/" target="_blank">How to Install VLC Media Player on Ubuntu 22.04</a></li>
        <li><a href="https://help.ubuntu.com/stable/ubuntu-help/user-changepicture.html.fr" target="_blank">Modification de l’image de votre compte</a></li>
        <li><a href="https://doc.ubuntu-fr.org/applications_par_defaut_sous_ubuntu" target="_blank">Applications par défaut sous Ubuntu</a></li>
        <li><a href="https://doc.ubuntu-fr.org/google_chrome" target="_blank"> Navigateur web Google Chrome</a></li>
        <li><a href="https://www.numetopia.fr/installer-logiciel-depuis-fichier-deb/" target="_blank">Comment installer un logiciel depuis un fichier DEB ?</a></li>
        <li><a href="https://doc.ubuntu-fr.org/gdebi" target="_blank">Installateur de paquets hors dépôts Gdebi</a></li>
        <li><a href="https://code.visualstudio.com/docs/introvideos/basics" target="_blank">Getting started with Visual Studio Code</a></li>
        <li><a href="https://passwords.google.com/?standalone=false&hl=fr&utm_source=google-account&utm_medium=web&pli=1" target="_blank">Chrome : Gestionnaire de mots de passe</a></li>
        <li><a href="https://grafikart.fr/" target="_blank">grafikart</a></li>
        <li><a href="https://grafikart.fr/formations/react" target="_blank">React (grafikart)</a></li>
        <li><a href="https://grafikart.fr/tutoriels/composant-react-1315#autoplay" target="_blank">Notre premier composant </a></li>
        <li><a href="https://translate.google.com/?hl=fr&sl=auto&tl=fr&text=friday&op=translate" target="_blank">Google Traduction</a></li>
        <li><a href="https://believemy.com/courses" target="_blank">BELIEVEMY</a></li>
        <li><a href="https://www.instagram.com/believemyfr/" target="_blank">instagram believemy</a></li>
        <li><a href="https://lms.simplilearn.com/dashboard" target="_blank">SIMPLILEARN</a></li>
        <li><a href="https://codepen.io/pen/tour/welcome/start" target="_blank">codepen</a></li>
        <li><a href="https://www.ovhcloud.com/fr/community/tutorials/how-to-install-nodejs-ubuntu/">Installer Node.js sur Ubuntu 22.04</a></li>
        <li><a href="https://icalendrier.fr/media/imprimer/2023/annuel/calendrier-2023.png" target="_blank">CALENDRIER 2023</a></li>
        <li><a href="https://defkey.com/fr/visual-studio-code-linux-raccourcis-clavier" target="_blank">Visual Studio Code (Linux) raccourcis clavier</a></li>
        <li><a href="https://bytexd.com/how-to-install-mate-desktop-in-ubuntu/?fbclid=IwAR3GErFQm02HKQBZXdv4YwO7cmkfBCtNYzcw3KSquU3sSi-sE3GDtHxKMFw" target="_blank">How to Install MATE Desktop in Ubuntu 22.04 </a></li>
        <li><a href="https://www.javatpoint.com/reactjs-tutorial" target="_blank">Learn ReactJS Tutorial</a></li>
        <li><a href="" target="_blank"><font color ="green"></font></a></li>
    </ol>
            </h2></div>
        <div class="pi-day">
    <h1><font color="red" id="13">movies </font></h1>
   <h2>
    <ol>
        <li><a href="https://www.youtube.com/watch?v=AgUVed7h2Tc" target="_blank">HELENA SHORT FILM</a></li>
        <li><a href="" target="_blank"></a></li>
    </ol>
    </h2>
    </div>
    <div class="pi-day">
    <h1><font color="red" id="14">BROUILLON CODES</font></h1>
   <h2>
       <ol>
           <li>Disque: df -h</li>
            <li>Supprimer node_modules : sudo rm -rf node_modules</li>
           <li>La mémoire vive sous Linux : free -h</li>
           <li>sudo apt-get install htop : htop</li>
           <li>sudo dmidecode --type memory</li>
           <li>NEOFETCH
               <ul>
                   <li>sudo apt-get update && sudo apt-get upgrade</li>
                   <li>sudo apt install neofetch</li>
                   <li>neofetch</li>
               </ul>
           </li>
           <li> echo $XDG_CURRENT_DESKTOP</li>
       </ol>
                </h2></div>
            <div class="pi-day">
            <h1>Github </h1>
    <h2>Terminal : Ctrl+alt+T<br>
    cd Documents<br>
    cd TIG <br>
    git status<br>
    git add .<br>
    git commit -a (Saisie - Ctrl+O - Ctrl +X)<br>
    git log (:+q)<br>
    git push<br>
    </h2>
    </div>
    <footer>
		<div>
		<p>&#169; Copyright 2021 moi Jean Guy Nicolas - Toute reproduction souhaitée- Monday, January 29th 2024 at 10H38</p>
        <form action="">
                <input type="date"><br>
                <input type="text" placeholder="Entrez ici un texte et recopie-le!">
            </form>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.gmail.com/" target="_blank"><i class="fa fa-google"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="https://fr.yahoo.com/" target="_blank"><i class="fa fa-yahoo"></i></a>
        <a href="https://www.github.com" target='_blank'><i class='fab fa-github'></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
	</footer>
 </div>
      </div>

        </div>
</body>
</html>