<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">

    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="../../favicon.ico">


    <title>ACCUEIL</title>


    <!-- Bootstrap core CSS -->

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="starter-template.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

  </head>


  
<body id="corpsJui">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
    <header>
		<h1><font color= "red" size="6"><strong>I AM THE RIGHTEOUSNESS OF GOD IN CHRIST</strong></font></h1>

	</header>
	<nav>
		<div class="table">
			<ul>
                <li class="menu-exp"><a href="/" target="_blank">HOME</a></li>
                <li class="menu-ind"><a href="/accueil">ACCUEIL</a></li>
				<li class="menu-ind"><a href="/janvier">JANVIER</a></li>
                <li class="menu-daily"><a href="/fevrier">FEVRIER</a></li>
				<li class="menu-exp"><a href="/mars">MARS</a></li>
				<li class="menu-tc"><a href="/avril">AVRIL</a></li>
				<li class="menu-hob"><a href="/mai">MAI</a></li>
				<li class="menu-con"><a href="/juin">JUIN</a></li>
				<li class="menu-con"><a href="/juillet">JUILLET</a></li>
                <li class="menu-ind"><a href="/aout">AOUT</a></li>
                <li class="menu-daily"><a href="/septembre">SEPTEMBRE</a></li>
                <li class="menu-exp"><a href="/octobre">OCTOBRE</a></li>
                <li class="menu-tc"><a href="/novembre">NOVEMBRE</a></li>
                <li class="menu-hob"><a href="/decembre">DECEMBRE</a></li>
			</ul>
		</div>
	</nav>
    <img src="{% static 'images/imI.jpg' %}" alt="Sanfrancisco" width="700" height="900">
            <h1><font color= "red">PLAN DE LECTURE </font></h1>
    <div class="accueil">
    <table>
        <tr>
            <td bgcolor = "pink">JANVIER
            </td>
            <td bgcolor = "green">
                Matthieu  1 - 21
            </td>
            <td bgcolor = "yellow">
                Genèse  1 - 50<br>
                Exode 1 - 13
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes  1 - 25
            </td>
            <td bgcolor = "orange">
                Proverbes  1 - 6
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">FEVRIER
            </td>
            <td bgcolor = "green">
                Matthieu  21 - 27<br>
                Marc  1 - 10
            </td>
            <td bgcolor = "yellow">
               Exode  13 - 40<br>
               Lévitique 1 - 23
            </td>
            <td bgcolor = "#FF00FF">
               Psaumes  26 - 44 
            </td>
            <td bgcolor = "orange">
                Proverbes  6 - 10
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">MARS
                
            </td>
            <td bgcolor = "green">
                Marc  10 - 16<br>
                Luc 1 - 9
            </td>
            <td bgcolor = "yellow">
                Lévitique 24 - 27<br>
                Nombre 1 - 36<br>
                Deutéronome 1 - 17
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes  44 - 72
            </td>
            <td bgcolor = "orange">
                 Proverbes  10 - 12
            </td>
        </tr>
         <tr>
            <td bgcolor = "pink">AVRIL
                
            </td>
            <td bgcolor = "green">
                Luc  9 - 24<br>
                Jean  1
            </td>
            <td bgcolor = "yellow">
                 Deutéronome 18 - 34<br>
                Josué  1 - 24<br>
                Juges  1 - 12
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes  73 - 101  
            </td>
            <td bgcolor = "orange">
                Proverbes  12 - 14
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">MAI
                
            </td>
            <td bgcolor = "green">
                Jean 1 - 19
            </td>
            <td bgcolor = "yellow">
                Juges 13 - 21<br>
                Ruth 1 - 4<br>
                1 Samuel 1 - 31<br>
                2 Samuel 1 - 17
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 102 - 119
            </td>
            <td bgcolor = "orange">
                Proverbes 14 - 16
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">JUIN
                
            </td>
            <td bgcolor = "green">
                Jean 20 - 21<br>
                Actes 1 - 20
            </td>
            <td bgcolor = "yellow">
                2 Samuel 18 - 24<br>
                1 Rois 1 - 22<br>
                2 Rois 1 - 18

            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 119 - 148
            </td>
            <td bgcolor = "orange">
                Proverbes 16 - 18
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">JUILLET
                
            </td>
            <td bgcolor = "green">
              Actes 21 - 28 <br>
                Romains 1 - 14
            </td>
            <td bgcolor = "yellow">
              2 Rois 18 - 25<br>
                1 Chroniques 1 - 29<br>
                2 Chroniques 1 - 29
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 149  - 150<br>
                Psaumes 1 -  24<br>
            </td>
            <td bgcolor = "orange">
                Proverbes 18 - 20
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">AOUT
                
            </td>
            <td bgcolor = "green">
                Romains 15 - 16<br>
                1 Corinthiens 1 - 16<br>
                2 Corinthiens 1 - 4
            </td>
            <td bgcolor = "yellow">
                2 Chroniques 30 - 36<br>
                Esdras 1 - 10<br>
                Néhémie 1 - 13<br>
                Esther 1 - 10<br>
                Job 1 - 39
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 25 - 44
            </td>
            <td bgcolor = "orange">
                Proverbes 20 - 22
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">SEPTEMBRE
                
            </td>
            <td bgcolor = "green">
              2 Corinthiens 5 - 13<br> 
              Galates 1  - 6<br>
              Ephésiens 1 - 6<br>
              Philippiens 1 - 2    
            </td>
            <td bgcolor = "yellow">
              Job 40 - 42<br>
              Ecclésiaste 1 - 12<br>
              Cantique des cantiques 1 - 8<br>
              Ésaïe 1 - 62    
            </td>
            <td bgcolor = "#FF00FF">
               Psaumes 45 - 72 
            </td>
            <td bgcolor = "orange">
                Proverbes 22 - 24
            </td>
        </tr>
         <tr>
            <td bgcolor = "pink">OCTOBRE
                
            </td>
            <td bgcolor = "green">
               Philippiens 2 - 4<br>
                Colossiens 1 - 4<br>
                1Thessaloniciens 1 - 5<br>
                2Thessaloniciens 1 - 3<br>
                1Timothée 1 - 6<br>
                2Timothée 1 - 4<br>
                Tite 1 - 3<br>
                Philémon 1<br>
                Hébreux 1 - 2
            </td>
            <td bgcolor = "yellow">
               Ésaïe 62 - 66<br>
                Jérémie 1 - 52<br>
                Lamentations 1 - 5
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 73 - 103
            </td>
            <td bgcolor = "orange">
                Proverbes 24 - 26
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">NOVEMBRE
                
            </td>
            <td bgcolor = "green">
               Hébreux 3 - 13<br>
               Jacques 1 - 5<br>
               1Pierre 1 -  4<br>
                2Pierre 1 - 3<br>
                1Jean 1
            </td>
            <td bgcolor = "yellow">
               Ezéchiel 1 - 48<br>
                Daniel 1 - 7
            </td>
            <td bgcolor = "#FF00FF">
                Psaumes 104 - 119
            </td>
            <td bgcolor = "orange">
                Proverbes 26 - 28
            </td>
        </tr>
        <tr>
            <td bgcolor = "pink">DECEMBRE
                
            </td>
            <td bgcolor = "green">
               1Jean 2 - 5<br>
                2Jean 1<br>
                3Jean 1<br>
                Jude 1<br>
                Apocalypse 1 - 22
            </td>
            <td bgcolor = "yellow">
               Daniel 8 - 12<br>
                Osée 1 - 14<br>
                Joël 1 - 3<br>
                Amos 1 - 9<br>
                Abdias 1<br>
                Jonas 1 - 4<br>
                Michée 1 - 7<br>
                Nahum 1 - 3<br>
                Habakuk 1 - 3<br>
                Sophonie 1 - 3<br>
                Aggée 1 - 2<br>
                Zacharie 1 - 14<br>
                Malachie 1 - 3
            </td>
            <td bgcolor = "#FF00FF">
               Psaumes 120 - 150
            </td>
            <td bgcolor = "orange">
                Proverbes 28 - 31
            </td>
        </tr>
        </table>
        </div>
    <footer>
		<p>Copyright 2016 moi Jean Guy Nicolas - Toute reproduction souhaitée</p>
	</footer>
 </div>
      </div>

    </div>
</body>
</html>